{% extends 'base_app/base.html' %}

{% block title %} Construction {% endblock %}

{% block profile_active %} active {% endblock %}

{% load static %}

{% block css_styles %}

{% endblock %}

{% block content %}
    <!-- Page content-->
    <!-- Page title-->
    <section class="position-relative bg-dark pt-7 pb-5 pb-md-7 bg-size-cover bg-attachment-fixed"
         style="background-image: url({% static 'real_estate/images/cubes-bg.jpg' %});" xmlns="http://www.w3.org/1999/html">
        <div class="shape shape-bottom shape-curve bg-body">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
                <path fill="currentColor" d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path>
            </svg>
        </div>
        <div class="container position-relative zindex-5 text-center pt-md-6 pt-lg-7 py-5 my-lg-3">
            <h1 class="text-light mb-0">
                Construction
            </h1>
            <h5 class="text-light">
                Économisez jusqu'à <span class="text-success">30%</span> en optant pour une construction écologique
                avec des briques en terre cuite.
            </h5>
        </div>
    </section>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>

    <!-- Page content-->
    <div class="container position-relative zindex-5 pb-4 mb-md-3" style="margin-top: -350px;">
        <div class="row">
            <!-- Sidebar-->
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="bg-light rounded-3 shadow-lg">
                    <div class="d-lg-none px-4 pb-4 text-center">
                        <a class="btn btn-primary px-5 mb-2" href="#account-menu" data-bs-toggle="collapse">
                            <i class="ai-menu me-2"></i>
                            Menu
                        </a>
                    </div>
                    <div class="d-lg-block collapse pb-2" id="account-menu">
                        <ul class="list-group">
                            <li class="list-group-item bg-light">
                                <b>Phase 1</b>
                                <ul>
                                    <li>
                                        Prénom : <span class="badge bg-info">{{construction_project.client_first_name|capfirst}}</span>
                                    </li>
                                    <li>
                                        Nom : <span class="badge bg-info">{{construction_project.client_last_name|capfirst}}</span>
                                    </li>
                                    <li>
                                        Email : <span class="badge bg-info">{{construction_project.client_email}}</span>
                                    </li>
                                    <li>
                                        Téléphone : <span class="badge bg-info">{{construction_project.client_phone_number}}</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="list-group-item bg-light">
                                <b>Phase 2</b>
                                <ul>
                                    <li>
                                        Type de construction :
                                        <span class="badge bg-info">
                                            {{construction_project.construction_type.name}}
                                        </span>
                                    </li>
                                    <li>
                                        Région : <span class="badge bg-info">{{construction_project.region}}</span>
                                    </li>
                                    <li>
                                        Adresse : <span class="badge bg-info">{{construction_project.adress}}</span>
                                    </li>
                                    <li>
                                        Superficie : <span class="badge bg-info">{{construction_project.area}} m2</span>
                                    </li>
                                    <li>
                                        Surface utilisable : <span class="badge bg-info">{{construction_project.area_usable}} m2</span>
                                    </li>
                                    <li>
                                        Nombre d'étage : <span class="badge bg-info">{{construction_project.number_floor}}</span>
                                    </li>
                                    <li>
                                        Informations supplémentaires : </br>
                                        <span class="badge bg-info">{{construction_project.aditionnal_info}}</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="list-group-item bg-secondary">
                                <b>Phase 3</b>
                                {% for construction_floor in construction_floors %}
                                    <ul>
                                        <li>
                                            {% if construction_floor.floor_level == 0 %}
                                                Rez-de-chaussée
                                            {% else %}
                                                Étage : <span class="badge bg-info">
                                                            #{{construction_floor.floor_level}}
                                                        </span></br>
                                            {% endif %}
                                            <ul>
                                                <li>
                                                    Nombre de chambre avec salle de bain :
                                                    <span class="badge bg-info">{{construction_floor.number_bedroom_with_bathroom}}</span>
                                                </li>
                                                <li>
                                                    Nombre de chambre simple :
                                                    <span class="badge bg-info">{{construction_floor.number_bedroom_without_bathroom}}</span>
                                                </li>
                                                <li>
                                                    Nombre de salon : <span class="badge bg-info">{{construction_floor.number_living_room}}</span>
                                                </li>
                                                <li>
                                                    Nombre de toilettes externes :
                                                    <span class="badge bg-info">{{construction_floor.number_shared_bathroom}}</span>
                                                </li>
                                                <li>
                                                    Nombre de cuisine : <span class="badge bg-info">{{construction_floor.number_kitchen}}</span>
                                                </li>
                                                {% if construction_floor.floor_level == 0 %}
                                                    <li>
                                                        Garage :
                                                        <span class="badge bg-info">
                                                            {% if construction_floor.garage == 'Yes' %}
                                                                Oui
                                                            {% else %}
                                                                Non
                                                            {% endif %}
                                                        </span>
                                                    </li>
                                                {%endif%}
                                                <li>
                                                    Balcon :
                                                    <span class="badge bg-info">
                                                        {% if construction_floor.balcony == 'Yes' %}
                                                            Oui
                                                        {% else %}
                                                            Non
                                                        {% endif %}
                                                    </span>
                                                </li>
                                                <li>
                                                    Terrasse :
                                                    <span class="badge bg-info">
                                                        {% if construction_floor.terace == 'Yes' %}
                                                            Oui
                                                        {% else %}
                                                            Non
                                                        {% endif %}
                                                    </span>
                                                </li>
                                                <li>
                                                    Espace de stockage :
                                                    <span class="badge bg-info">
                                                        {% if construction_floor.closette == 'Yes' %}
                                                            Oui
                                                        {% else %}
                                                            Non
                                                        {% endif %}
                                                    </span>
                                                </li>
                                                <li>
                                                    Informations supplémentaires : </br>
                                                    <span class="badge bg-info">{{construction_floor.aditionnal_info}}
                                                    </span>
                                                </li>
                                            </ul></br>
                                        </li>
                                    </ul>
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                </div>
              </div>
            <!-- Content-->
            <div class="col-lg-8">
                <div class="d-flex flex-column h-100 bg-light rounded-3 shadow-lg p-4">

                    {% if error %}
                        <div class="alert alert-danger alert-dismissible fade show" id="alert1" role="alert">
                            {{ error }}
                        </div>
                    {% else %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {{message.tags}} alert-dismissible fade show" id="alert2" role="alert">
                                    {{message}}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                    <form method="POST">
                        {% csrf_token %}
                         <div class="card-header text-white" style="background-color: #d4ac0d; border-radius:10px;">
                             <center><h2>Phase 3</h2></center>
                             <center>Informations sur chacun des étages</center>
                         </div>
                         <div class="card-body">

                             <div class="row">
                                 {% if total_floors != number_construction_floor %}
                                     <div class="alert bg-info" role="alert">
                                         <h5 class="text-white" align="center">
                                             {% if number_construction_floor == 0 %}
                                                Rez-de-chaussée
                                                <input type="hidden" name="floor_level" value="0">
                                             {% elif number_construction_floor == 1 %}
                                                Étage 1 - Premier etage
                                                <input type="hidden" name="floor_level" value="1">
                                             {% elif number_construction_floor == 2 %}
                                                Étage 2 - Deuxième étage
                                                <input type="hidden" name="floor_level" value="2">
                                             {% elif number_construction_floor == 3 %}
                                                Étage 3 - Troisième étage
                                                <input type="hidden" name="floor_level" value="3">
                                             {% elif number_construction_floor == 4 %}
                                                Étage 4 - Quatrième étage
                                                <input type="hidden" name="floor_level" value="4">
                                             {% elif number_construction_floor == 5 %}
                                                Étage 5 - Cinquième étage
                                                <input type="hidden" name="floor_level" value="5">
                                             {% elif number_construction_floor == 6 %}
                                                Étage 6 - Sixième étage
                                                <input type="hidden" name="floor_level" value="6">
                                             {% elif number_construction_floor == 7 %}
                                                Étage 7 - Septième étage
                                                <input type="hidden" name="floor_level" value="7">
                                             {% elif number_construction_floor == 8 %}
                                                Étage 8 - Huitième étage
                                                <input type="hidden" name="floor_level" value="8">
                                             {% elif number_construction_floor == 9 %}
                                                Étage 9 - Neuvième étage
                                                <input type="hidden" name="floor_level" value="9">
                                             {% elif number_construction_floor == 10 %}
                                                Étage 10 - Dixième étage
                                                <input type="hidden" name="floor_level" value="10">
                                             {% elif number_construction_floor == 11 %}
                                                Étage 11 - Onzième étage
                                                <input type="hidden" name="floor_level" value="11">
                                             {% elif number_construction_floor == 12 %}
                                                Étage 12 - Douzième étage
                                                <input type="hidden" name="floor_level" value="12">
                                             {% elif number_construction_floor == 13 %}
                                                Étage 13 - Treizième étage
                                                <input type="hidden" name="floor_level" value="13">
                                             {% elif number_construction_floor == 14 %}
                                                Étage 14 - Quatorzième étage
                                                <input type="hidden" name="floor_level" value="14">
                                             {% elif number_construction_floor == 15 %}
                                                Étage 15 - Quinzième étage
                                                <input type="hidden" name="floor_level" value="15">
                                             {% endif %}
                                         </h5>
                                     </div>

                                     <div class="col-md-12">
                                         <div class="form-group">
                                             <label>Nombre de chambres avec toilette interne</label>
                                             <input type="number" name="number_bedroom_with_bathroom" class="form-control" placeholder="Exemple: 2" required>
                                         </div>
                                     </div>
                                     <p></p>
                                     <div class="col-md-6">
                                         <div class="form-group">
                                             <label>Nombre de chambres simples</label>
                                             <input type="number" name="number_bedroom_without_bathroom" class="form-control" placeholder="Exemple: 2" required>
                                         </div>
                                     </div>
                                     <div class="col-md-6">
                                         <div class="form-group">
                                             <label>Nombre de toilettes externes</label>
                                             <input type="number" name="number_shared_bathroom" class="form-control" placeholder="Exemple: 2" required>
                                         </div>
                                     </div>
                                     <p></p>
                                     <div class="col-md-4">
                                         <div class="form-group">
                                             <label>Nombre de salons</label>
                                             <input type="number" name="number_living_room" class="form-control" placeholder="Exemple: 2" required>
                                         </div>
                                     </div>
                                     <div class="col-md-4">
                                         <div class="form-group">
                                             <label>Nombre de cuisines</label>
                                             <input type="number" name="number_kitchen" class="form-control" placeholder="Exemple: 2" required>
                                         </div>
                                     </div>
                                     <div class="col-md-4">
                                         <div class="form-group">
                                             <label>Espace de stockage</label>
                                             <select class="form-select form-control" name="closette" required>
                                                 <option selected disabled value="">Sélectionner</option>
                                                <option value="Yes">Oui</option>
                                                <option value="No">Non</option>
                                            </select>
                                         </div>
                                     </div>
                                     <p></p>
                                     {% if number_construction_floor == 0 %}
                                        <div class="col-md-4">
                                             <div class="form-group">
                                                <label>Garage</label>
                                                <select class="form-select form-control" name="garage" required>
                                                    <option selected disabled value="">Sélectionner</option>
                                                    <option value="Yes">Oui</option>
                                                    <option value="No">Non</option>
                                                </select>
                                            </div>
                                         </div>
                                        <div class="col-md-4">
                                             <div class="form-group">
                                                <label>Terrasse</label>
                                                <select class="form-select form-control" name="terace" required>
                                                    <option selected disabled value="">Sélectionner</option>
                                                    <option value="Yes">Oui</option>
                                                    <option value="No">Non</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Balcon</label>
                                                <select class="form-select form-control" name="balcony" required>
                                                    <option selected disabled value="">Sélectionner</option>
                                                    <option value="Yes">Oui</option>
                                                    <option value="No">Non</option>
                                                </select>
                                            </div>
                                         </div>
                                     {% else %}
                                        <input type="hidden" name="garage" value="No">
                                         <div class="col-md-6">
                                             <div class="form-group">
                                                <label>Terrasse</label>
                                                <select class="form-select form-control" name="terace" required>
                                                    <option selected disabled value="">Sélectionner</option>
                                                    <option value="Yes">Oui</option>
                                                    <option value="No">Non</option>
                                                </select>
                                             </div>
                                         </div>
                                         <div class="col-md-6">
                                             <div class="form-group">
                                                <label>Balcon</label>
                                                <select class="form-select form-control" name="balcony" required>
                                                    <option selected disabled value="">Sélectionner</option>
                                                    <option value="Yes">Oui</option>
                                                    <option value="No">Non</option>
                                                </select>
                                            </div>
                                         </div>
                                     {%endif%}
                                     <p></p>
                                     <div class="col-md-12">
                                         <div class="form-group">
                                            <textarea class="form-control" name="aditionnal_info" placeholder="Aviez-vous des informations supplémentaires à ajouter ?" ></textarea>
                                         </div>
                                     </div>
                                     <p></p>
                                     <div class="row">
                                         <div class="col-sm-12 btn-block">
                                             <button type="submit" class="btn btn-success" name="new_land" value="new_land" style="width:100%">Valider</button>
                                         </div>
                                     </div>
                                     <p></p>
                                     <p></p>
                                     <p></p>
                                 {% else %}
                                    <div class="alert bg-info" role="alert">
                                        <h5 class="text-white" align="center">
                                             Tous les niveaux ont été renseignés, vous pouvez cliquer sur terminer
                                        </h5>
                                     </div>
                                    <span class="pt-7"></span>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success" name="complete_construction_project_info" value="complete_construction_project_info">
                                            Terminer
                                        </button>
                                    </form>

                                 {% endif %}
                             </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div></br></br></br></br></br></br></br></br>
{% endblock %}