{% extends 'base_app/base.html' %}

{% block title %} Construction {% endblock %}

{% load static %}

{% block css_styles %}

{% endblock %}

{% block content %}
    <!-- Hero-->
    <section class="position-relative bg-secondary pt-5 pt-lg-7 pb-7 overflow-hidden" xmlns="http://www.w3.org/1999/html">
        <div class="shape shape-bottom shape-curve bg-body">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
                <path fill="currentColor" d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z">
                </path>
            </svg>
        </div>

        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" id="alert1" role="alert">
                {{ error }}
            </div>
        {% else %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}} alert-dismissible fade show" id="alert2" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}

        <!-- Content-->
        <div class="bg-secondary">
            <div class="container-fluid">
                <div class="row g-4 g-lg-5 align-items-center">
                    <div class="col-xl-7 order-2 order-xl-1">
                        <div class="row mt-0 mt-xl-5">
                            <!-- Review -->
                            <div class="col-md-12 position-relative">
                                <div class="shadow bg-light text-center p-4 rounded-3 position-relative mb-5 mb-md-0">
                                    <h1 class="display-4">La Construction c'est de l'art</h1>
                                    <p class="pb-2">Nous donnons vies à vos projets les plus fous</p>

                                    <a type="button" class="btn btn-outline-primary" href="{% url 'construction_part1' %}">
                                        <i class="fas fa-plus"></i>Commencer mon projet
                                    </a>

                                    <a type="button" class="btn btn-outline-dark" href="">
                                        <i class="fas fa-plus"></i>Obtenir un devis estimatif automatique
                                    </a>
                                </div>
                            </div>
                        </div> <!-- Row END -->

                        <div class="row mt-5 mt-xl-0">
                            <!-- Review -->
                            <div class="col-md-12 mt-n6 mb-0 mb-md-5">
                                <div class=" text-center p-4 rounded-3" style="margin-top: 90px;">
                                    <h6 class="display-6">
                                        Historique de l'évolution du prix de la tonne de ciment au Sénégal.
                                    </h6>
                                    <!-- Apex chart -->
							        <div id="chart"></div>
                                </div>
                            </div>
                        </div> <!-- Row END -->
                    </div>
                    <div class="col-xl-5 order-1 text-center text-xl-start">
                        <div class="parallax mx-auto" style="max-width: 705px;">
                            <div class="parallax-layer position-relative" data-depth="0.1">
                                <img src="{% static 'base_app/img/demo/creative-agency/parallax/layer01.svg' %}" alt="Layer">
                            </div>
                            <div class="parallax-layer" data-depth="0.35">
                                <img src="{% static 'base_app/img/demo/creative-agency/parallax/layer02.svg' %}" alt="Layer">
                            </div>
                            <div class="parallax-layer" data-depth="0.2">
                                <img src="{% static 'base_app/img/demo/creative-agency/parallax/layer03.svg' %}" alt="Layer">
                            </div>
                            <div class="parallax-layer" data-depth="0.5">
                                <img src="{% static 'base_app/img/demo/creative-agency/parallax/layer04.svg' %}" alt="Layer">
                            </div>
                            <div class="parallax-layer" data-depth="0.6">
                                <img src="{% static 'base_app/img/demo/creative-agency/parallax/layer05.svg' %}" alt="Layer">
                            </div>
                            <div class="parallax-layer" data-depth="0.4">
                                <img src="{% static 'base_app/img/demo/creative-agency/parallax/layer06.svg' %}" alt="Layer">
                            </div>
                            <div class="parallax-layer" data-depth="0.25">
                                <img src="{% static 'base_app/img/demo/creative-agency/parallax/layer07.svg' %}" alt="Layer">
                            </div>
                            <div class="parallax-layer" data-depth="0.35">
                                <img src="{% static 'base_app/img/demo/creative-agency/parallax/layer08.svg' %}" alt="Layer">
                            </div>
                            <div class="parallax-layer" data-depth="0.6">
                                <img src="{% static 'base_app/img/demo/creative-agency/parallax/layer09.svg' %}" alt="Layer">
                            </div>
                            <div class="parallax-layer" data-depth="0.45">
                                <img src="{% static 'base_app/img/demo/creative-agency/parallax/layer10.svg' %}" alt="Layer">
                            </div>
                            <div class="parallax-layer" data-depth="0.7">
                                <img src="{% static 'base_app/img/demo/creative-agency/parallax/layer11.svg' %}" alt="Layer">
                            </div>
                            <div class="parallax-layer" data-depth="0.3">
                                <img src="{% static 'base_app/img/demo/creative-agency/parallax/layer12.svg' %}" alt="Layer">
                            </div>
                            <div class="parallax-layer" data-depth="0.15">
                                <img src="{% static 'base_app/img/demo/creative-agency/parallax/layer13.png' %}" alt="Layer">
                            </div>
                            <div class="parallax-layer" data-depth="0.9">
                                <img src="{% static 'base_app/img/demo/creative-agency/parallax/layer14.svg' %}" alt="Layer">
                            </div>
                        </div>
                    </div>
                </div> <!-- Row END -->
            </div>
        </div></br></br>

    </section>

    <!-- About-->
    <section class="container position-relative zindex-5" style="margin-top: -175px;">
        <div class="bg-light rounded-3 shadow py-5 py-md-6 px-4 px-md-0">
            <div class="row align-items-center py-3 py-md-0">
                <div class="col-xl-6 col-lg-5 col-md-4 text-center">
                    <h2 class="pb-3 pb-md-0">
                        <span class="d-block text-body opacity-25">Quelque chose</span>
                        À propos de la Construction
                    </h2>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-7 text-center text-md-start">
                    <h5>
                        Le secteur de la construction au Sénégal est en évolution, surtout la construction d’habitats
                        sociaux mais malheureusement ce sont les artisans plus précisément les maçons qui dominent
                        ce secteur sans réellement avoir les compétences requises. </br>
                        SHEYP dans l’optique de participer à l'amélioration de la sécurité et de la qualité d’exécution,
                        met à la disposition de ses clients une équipe expérimentée dirigée par une Ingénieur en
                        Génie Civile qui a 4ans d’expériences. </br>
                    </h5>
                </div>
            </div>
        </div>
    </section>

    <!-- Offers carousel-->
    <section class="container py-5 my-4 my-sm-0 py-sm-6 py-md-7">
        <h2 class="text-center mb-4">Nos offres</h2>

        <div class="card border-0 shadow mx-1">
            <div class="card-body">
                <h5 class="text-md-start">
                    En plus de nos offres, vous avez l'option de choisir un ou plusieurs de nos systèmes
                    innovants suivants qui vous ferons économiser encore beaucoup plus d'argents sur le long terme :
                    </br>
                    <ul class="list-unstyled text-dark">
                        <li class="d-flex mb-2 pb-1 text-info">
                            <i class="ai-check fs-xl mt-1 me-3"></i>
                            <span>
                                Système de recyclage des eaux de pluie et une partie des eaux usées de la maison
                                (Jusqu'à <span class="text-success">50% d'économie</span> sur votre facture d'eau).
                            </span>
                        </li>
                        <li class="d-flex mb-2 pb-1 text-info">
                            <i class="ai-check fs-xl mt-1 me-3"></i>
                            <span>
                                Système hybride de gestion de l'électricité (Jusqu'à <span class="text-success">100%
                                d'économie</span> sur votre facture de courant).
                            </span>
                        </li>
                    </ul>

                    </br>
                    <span class="text-danger">
                        Important: Les prix de nos systèmes ne sont pas inclus dans le coût de construction et seront
                        définis en fonction de chaque projet.
                    </span>
                </h5>
            </div>
        </div></br>

        <div class="tns-carousel-wrapper">
            <div class="tns-carousel-progress ms-auto mb-3">
                <div class="text-sm text-muted text-center mb-2">
                    <span class="tns-current-slide me-1"></span>of
                    <span class="tns-total-slides ms-1"></span>
                </div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar"></div>
                </div>
            </div>
            <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 3, &quot;nav&quot;: false, &quot;gutter&quot;: 23, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;540&quot;:{&quot;items&quot;:2},&quot;900&quot;:{&quot;items&quot;:3}}}">
                <div class="pb-2">
                    <div class="card border-0 shadow mx-1">
                        <span class="badge badge-lg badge-floating badge-floating-end bg-danger">
                            13 millions CFA
                        </span>
                        <span class="badge badge-lg badge-floating bg-success">
                            Éco-responsable
                        </span>
                        <div class="card-img-top">
                            <img src="{% static 'construction/images/offers/rdc_f3.jpg' %}" style="height: 260px" alt="Maison rez-de-chaussée type F3">
                        </div>
                        <div class="card-body">
                            <h3 class="h5 pt-1 mb-3 text-center">Maison rez-de-chaussée type F3</h3>
                            <p class="fs-sm text-muted mb-2 text-center">
                                Nous vous proposons la construction de maisons rez-de-chaussée tout finit de <b>150 m2
                                </b> à base de <b>briques en terre cuite</b>, à seulement <b>13 millions de fcfa</b>.
                            </p>
                            <p class="fs-sm mb-2"><b>
                                1 Chambre avec salle de bain</br>
                                1 chambre sans salle de bain</br>
                                Salon</br>
                                Cuisine</br>
                                Espace familial</br>
                                1 Toilette visiteur</br>
                                Séjour familial</br>
                                Cour intérieur
                            </b></p>
                            <p>
                                <ul class="list-unstyled text-dark">
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>Briques rouges en terre cuite</span>
                                    </li>
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>Architecture tradi-moderne</span>
                                    </li>
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>Construction économique </span>
                                    </li>
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>Matériaux écologiques </span>
                                    </li>
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>Consommation énergétique basse</span>
                                    </li>
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>Système d'assainissement autonome</span>
                                    </li>
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>Système de drainage des eaux de pluie</span>
                                    </li>
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>
                                            Système écologique de gestion des eaux de usées qui ne demande pas de
                                            vidange
                                        </span>
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pb-2">
                    <div class="card border-0 shadow mx-1">
                        <span class="badge badge-lg badge-floating badge-floating-end bg-danger">
                            14.5 millions CFA
                        </span>
                        <span class="badge badge-lg badge-floating bg-success">
                            Éco-responsable
                        </span>
                        <div class="card-img-top">
                            <img src="{% static 'construction/images/offers/rdc_f4.jpg' %}" style="height: 260px" alt="Maison rez-de-chaussée type F3">
                        </div>
                        <div class="card-body">
                            <h3 class="h5 pt-1 mb-3 text-center">Maison rez-de-chaussée type F4</h3>
                            <p class="fs-sm text-muted mb-2 text-center">
                                Nous vous proposons la construction de maisons rez-de-chaussée tout finit de <b>150 m2
                                </b> à base de <b>briques en terre cuite</b>, à partir de seulement
                                <b>14.5 millions de fcfa</b>.
                            </p>
                            <p class="fs-sm mb-2"><b>
                                2 chambres sans salle de bain</br>
                                1 Chambre avec salle de bain</br>
                                Salon</br>
                                Cuisine</br>
                                Espace familial</br>
                                1 Toilette visiteur</br>
                                Séjour familial</br>
                            </b></p>
                            <p>
                                <ul class="list-unstyled text-dark">
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>Briques rouges en terre cuite</span>
                                    </li>
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>Architecture tradi-moderne</span>
                                    </li>
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>Construction économique </span>
                                    </li>
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>Matériaux écologiques </span>
                                    </li>
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>Consommation énergétique basse</span>
                                    </li>
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>Système d'assainissement autonome</span>
                                    </li>
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>Système de drainage des eaux de pluie</span>
                                    </li>
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>
                                            Système écologique de gestion des eaux de usées qui ne demande pas de
                                            vidange
                                        </span>
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pb-2">
                    <div class="card border-0 shadow mx-1">
                        <span class="badge badge-lg badge-floating badge-floating-end bg-danger">
                            21 millions CFA
                        </span>
                        <span class="badge badge-lg badge-floating bg-success">
                            Béton armé
                        </span>
                        <div class="card-img-top">
                            <img src="{% static 'construction/images/offers/f3_beton_arme.jpg' %}" style="height: 260px" alt="Maison rez-de-chaussée type F3">
                        </div>
                        <div class="card-body">
                            <h3 class="h5 pt-1 mb-3 text-center">Maison rez-de-chaussée type F3</h3>
                            <p class="fs-sm text-muted mb-2 text-center">
                                Nous vous proposons la construction de maisons rez-de-chaussée tout finit de <b>150 m2
                                </b> en béton armé, à partir de seulement <b>21 millions de fcfa</b>.
                            </p>
                            <p class="fs-sm mb-2"><b>
                                1 Chambre avec salle de bain</br>
                                1 chambre sans salle de bain</br>
                                Salon</br>
                                Cuisine</br>
                                Espace familial</br>
                                1 Toilette visiteur</br>
                                Séjour familial</br>
                                Cour intérieur
                            </b></p>
                            <p>
                                <ul class="list-unstyled text-dark">
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>Briques en ciment</span>
                                    </li>
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>Architecture tradi-moderne</span>
                                    </li>
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>Système d'assainissement autonome</span>
                                    </li>
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>Système de drainage des eaux de pluie</span>
                                    </li>
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>
                                            Système écologique de gestion des eaux de usées qui ne demande pas de
                                            vidange
                                        </span>
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pb-2">
                    <div class="card border-0 shadow mx-1">
                        <span class="badge badge-lg badge-floating badge-floating-end bg-danger">
                            23.8 millions CFA
                        </span>
                        <span class="badge badge-lg badge-floating bg-success">
                            Béton armé
                        </span>
                        <div class="card-img-top">
                            <img src="{% static 'construction/images/offers/f4_beton_arme.jpg' %}" style="height: 260px" alt="Maison rez-de-chaussée type F3">
                        </div>
                        <div class="card-body">
                            <h3 class="h5 pt-1 mb-3 text-center">Maison rez-de-chaussée type F4</h3>
                            <p class="fs-sm text-muted mb-2 text-center">
                                Nous vous proposons la construction de maisons rez-de-chaussée tout finit de <b>150 m2
                                </b> en béton armé, à partir de seulement <b>23.8 millions de fcfa</b>.
                            </p>
                            <p class="fs-sm mb-2"><b>
                                2 chambres sans salle de bain</br>
                                1 Chambre avec salle de bain</br>
                                Salon</br>
                                Cuisine</br>
                                Espace familial</br>
                                1 Toilette visiteur</br>
                                Séjour familial</br>
                            </b></p>
                            <p>
                                <ul class="list-unstyled text-dark">
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>Briques en ciment</span>
                                    </li>
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>Architecture tradi-moderne</span>
                                    </li>
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>Système d'assainissement autonome</span>
                                    </li>
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>Système de drainage des eaux de pluie</span>
                                    </li>
                                    <li class="d-flex mb-2 pb-1 text-success">
                                        <i class="ai-check-circle fs-xl mt-1 me-3"></i>
                                        <span>
                                            Système écologique de gestion des eaux de usées qui ne demande pas de
                                            vidange
                                        </span>
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Architectures -->
    <section class="container py-5 my-4 my-sm-0 py-sm-6 py-md-7">
        <h2 class="text-center mb-4">Nos architectures</h2>
        <p class=" text-muted mb-2 text-center">
            Pour vos projets de construction, vous pourrez choisir gratuitement une des architectures tradi-moderne
            qu'on propose.
        </p>
        <div class="tns-carousel-wrapper">
            <div class="tns-carousel-progress ms-auto mb-3">
                <div class="text-sm text-muted text-center mb-2">
                    <span class="tns-current-slide me-1"></span>of
                    <span class="tns-total-slides ms-1"></span>
                </div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar"></div>
                </div>
            </div>
            <div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 3, &quot;nav&quot;: false, &quot;gutter&quot;: 23, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;540&quot;:{&quot;items&quot;:2},&quot;900&quot;:{&quot;items&quot;:3}}}">
                <div class="pb-2">
                    <div class="card border-0 shadow card-hover mx-1">
                        <div class="card-body">
                            <div class="row">
                                <h5 class="text-center mb-4">Maison rez-de-chaussée F3</h5>
                                <div class="col-sm-6">
                                     <a class="gallery-item rounded-3" href="/static/construction/images/offers/maquette_construction1.jpg">
                                        <img src="/static/construction/images/offers/maquette_construction1.jpg" alt="Maquette 1" style="height: 125px">
                                     </a>
                                </div>
                                <div class="col-sm-6">
                                     <a class="gallery-item rounded-3" href="/static/construction/images/offers/maquette_construction3.jpg">
                                        <img src="/static/construction/images/offers/maquette_construction3.jpg" alt="Maquette 3" style="height: 125px">
                                     </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pb-2">
                    <div class="card border-0 shadow card-hover mx-1">
                        <div class="card-body">
                            <div class="row">
                                <h5 class="text-center mb-4">Maison rez-de-chaussée F4</h5>
                                <div class="col-sm-6">
                                     <a class="gallery-item rounded-3" href="/static/construction/images/offers/maquette_construction1.jpg">
                                        <img src="/static/construction/images/offers/maquette_construction1.jpg" alt="Maquette 1" style="height: 125px">
                                     </a>
                                </div>
                                <div class="col-sm-6">
                                     <a class="gallery-item rounded-3" href="/static/construction/images/offers/maquette_construction3.jpg">
                                        <img src="/static/construction/images/offers/maquette_construction2.jpg" alt="Maquette 3" style="height: 125px">
                                     </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services-->
    <section class="container py-5 py-md-6 py-lg-7">
        <div class="row align-items-center mt-3 mt-md-0">
            <div class="col-lg-4 col-md-5 order-md-2 text-center text-md-start mb-5 mb-md-0">
                <h2 class="mb-3">Nos services</h2>
            </div>
            <div class="col-lg-8 col-md-7 order-md-1 bg-position-start-bottom bg-repeat-0" style="background-image: url({% static 'base_app/img/demo/marketing-seo/services/bg-shape.svg' %});">
                <div class="mx-auto mx-md-0 ms-xl-7" style="max-width: 600px;">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="bg-light shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                                <img class="d-inline-block mb-4 mt-2" src="{% static 'construction/images/architecture.png' %}" alt="Icon" width="100">
                                <h3 class="h5 mb-2">Architecture</h3>
                                <p class="mb-0">
                                    Afin de maitrise les couts de projets de construction sociales, nous proposons à nos clients
                                    des plans architecturaux à des prix réduits pour des projets qui ne dépassent pas les 30
                                    millions fcfa. Au-delà de cette fourchette, le client devra faire appel à un cabinet
                                    d'architecte.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="bg-light shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                                <img class="d-inline-block mb-4 mt-2" src="{% static 'construction/images/renovation.png' %}" alt="Icon" width="100">
                                <h3 class="h5 mb-2">Rénovation</h3>
                                <p class="mb-0">
                                    Vous avez des rénovations à faire, faites appel à notre expertise, nous vous proposerons les
                                    meilleurs solutions en terme de cout et de qualité.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mx-auto mx-md-0" style="max-width: 600px;">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                          <div class="bg-light shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                              <img class="d-inline-block mb-4 mt-2" src="{% static 'construction/images/devis.png' %}" width="100">
                              <h3 class="h5 mb-2">Devis</h3>
                              <p class="mb-0">
                                  Avec Sheyp, obtenez gratuitement un devis automatique (estimatif) détaillé pour mieux
                                    comprendre la structure des couts. (Ce service sera bientôt disponible)
                              </p>
                          </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="bg-light shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                                <img class="d-inline-block mb-4 mt-2" src="{% static 'construction/images/bulding_house.png' %}" width="100">
                                <h3 class="h5 mb-2">Construction neuve</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mx-auto mx-md-0" style="max-width: 600px;">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                          <div class="bg-light shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                              <img class="d-inline-block mb-4 mt-2" src="{% static 'construction/images/inspection_house.png' %}" width="100">
                              <h3 class="h5 mb-2">Inspection de bâtiment</h3>
                              <p class="mb-0">
                                  Vous prévoyez de faire un achat immobilier ? Protégez-vous en obtenant l'avis technique d'un expert
                                    d'acheter le bien. Une inspection préventive permettra d'évaluer l'état de la structure mais aussi de
                                    déterminer les imperfections les plus susceptibles de nuire à votre sécurité et confort.
                              </p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Icon + text-->
    <section class="container pt-5 pb-4 mt-3 mt-md-0 mb-md-3 pb-md-5 pt-md-7">
        <h2 class="text-center mb-5">Comment se déroulera votre projet de construction avec nous ?</h2>
        <h4 class="text-center">
            La construction chez Sheyp suit la procédure suivante qui est divisée en deux principales parties :
        </h4>
        <div class="accordion" id="faq">
            <ul>
                <li>
                    <div class="accordion-item shadow">
                        <h2 class="accordion-header" id="faq-heading-1">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1" aria-expanded="true" aria-controls="faq-content-1" style="color: #d4ac0d;">
                                Informations générales
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse show" id="faq-content-1" aria-labelledby="faq-heading-1" data-bs-parent="#faq">
                            <div class="accordion-body">
                                Les informations suivantes sont indispensables à la réalisation de tout projet de
                                construction et permettrons de faire une étude de faisabilite.
                                <div class="row">
                                    <div class="col-sm-6 col-md-4">
                                        </br>
                                        <div class="mx-auto mb-5 text-center" style="max-width: 280px;">
                                            <img class="mb-3" src="{% static 'construction/images/construction_type.png' %}" width="112">
                                            <h3 class="h5">Type de Construction</h3>
                                            <p class="fs-sm mb-0">
                                                Définition du type de construction (une construction en béton armé
                                                ou une construction écologique en terre cuite).
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        </br>
                                        <div class="mx-auto mb-5 text-center" style="max-width: 280px;">
                                            <img class="mb-3" src="{% static 'construction/images/architecture_type.png' %}" width="112">
                                            <h3 class="h5">Type d'Architecture</h3>
                                            <p class="fs-sm mb-0">
                                                Définition du type d’architecture (si vous n'en disposez pas).
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        </br>
                                        <div class="mx-auto mb-5 text-center" style="max-width: 280px;">
                                            <img class="mb-3" src="{% static 'construction/images/land_location.png' %}" width="112">
                                            <h3 class="h5">Localisation du Terrain</h3>
                                            <p class="fs-sm mb-0">
                                                Fournir la localisation du terrain sur lequel aura lieu la
                                                construction afin que nous puissions évaluer la faisabilité.</br>
                                                Et si vous n'en disposez pas, Sheyp pourra vous aidez à en trouver.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="accordion-item shadow">
                        <h2 class="accordion-header" id="faq-heading-2">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2" aria-expanded="true" aria-controls="faq-content-2" style="color: #d4ac0d;">
                                Offre technique et Financière
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse" id="faq-content-2" aria-labelledby="faq-heading-2" data-bs-parent="#faq">
                            <div class="accordion-body">
                                Suite aux informations qui auront été fournie, une offre technique et financière très détaillée vous sera presenté.
                                <div class="row">
                                    <div class="col-sm-6 col-md-4">
                                        </br>
                                        <div class="mx-auto mb-5 text-center" style="max-width: 280px;">
                                            <img class="mb-3" src="{% static 'construction/images/technical_advice.png' %}" width="112">
                                            <h3 class="h5">Avis Technique</h3>
                                            <p class="fs-sm mb-0">
                                                Notre avis technique global sur la faisabilité de votre projet.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        </br>
                                        <div class="mx-auto mb-5 text-center" style="max-width: 280px;">
                                            <img class="mb-3" src="{% static 'construction/images/financial_offer.png' %}" width="112">
                                            <h3 class="h5">0ffre Financière 1</h3>
                                            <p class="fs-sm mb-0">
                                                Une offre financière sur la réalisation des plans architecturaux.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        </br>
                                        <div class="mx-auto mb-5 text-center" style="max-width: 280px;">
                                            <img class="mb-3" src="{% static 'construction/images/financial_offer2.png' %}" width="112">
                                            <h3 class="h5">0ffre Financière 2</h3>
                                            <p class="fs-sm mb-0">
                                                Une offre financière sur la réalisation des plans d’études de votre projet
                                                ( plans de coffrages ou plan béton armé). Ces plans permettrons de connaître
                                                les dimensions des éléments qui composeront votre structure tels que les
                                                poutres, les poteaux, les plancher...
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        </br>
                                        <div class="mx-auto mb-5 text-center" style="max-width: 280px;">
                                            <img class="mb-3" src="{% static 'construction/images/planning.png' %}" width="112">
                                            <h3 class="h5">Planning</h3>
                                            <p class="fs-sm mb-0">
                                                Nous vous fournirons un planning détaillé de la réalisation de
                                                votre projet avec l’ensemble des activités qui composent votre
                                                projet et leur délais de réalisation.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        </br>
                                        <div class="mx-auto mb-5 text-center" style="max-width: 280px;">
                                            <img class="mb-3" src="{% static 'construction/images/estimation.png' %}" width="112">
                                            <h3 class="h5">Devis</h3>
                                            <p class="fs-sm mb-0">
                                                Et enfin nous vous proposons un devis définitif basé sur les résultats de notre
                                                études de faisabilité.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

{% endblock %}