{% extends 'base_app/base.html' %}

{% block title %} Construction {% endblock %}

{% block profile_active %} active {% endblock %}

{% load static %}

{% block css_styles %}

{% endblock %}

{% block content %}
    <!-- Page content-->
    <!-- Page title-->
    <section class="position-relative bg-dark pt-7 pb-5 pb-md-7 bg-size-cover bg-attachment-fixed"
         style="background-image: url({% static 'real_estate/images/cubes-bg.jpg' %});" xmlns="http://www.w3.org/1999/html">
        <div class="shape shape-bottom shape-curve bg-body">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
                <path fill="currentColor" d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path>
            </svg>
        </div>

        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" id="alert1" role="alert">
                {{ error }}
            </div>
        {% else %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}} alert-dismissible fade show" id="alert2" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}

        <div class="container position-relative zindex-5 text-center pt-md-6 pt-lg-7 py-5 my-lg-3">
            <h1 class="text-light mb-0">Construction</h1>
            <h5 class="text-light">
                Économisez jusqu'à <span class="text-success">30%</span> en optant pour une construction écologique
                avec des briques en terre cuite.
            </h5>
        </div>
    </section>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>

    <!-- Page content-->
    <div class="container position-relative zindex-5 pb-4 mb-md-3" style="margin-top: -350px;">
        <div class="row">
            <!-- Sidebar-->
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="bg-light rounded-3 shadow-lg">
                    <div class="d-lg-none px-4 pb-4 text-center">
                        <a class="btn btn-primary px-5 mb-2" href="#account-menu" data-bs-toggle="collapse">
                            <i class="ai-menu me-2"></i>
                            Menu
                        </a>
                    </div>
                    <div class="d-lg-block collapse pb-2" id="account-menu">
                        <ul class="list-group">
                            <li class="list-group-item bg-light">
                                <b>Phase 1</b>
                                <ul>
                                    {% for land_type in land_types %}
                                        {% if land_type.id == land_project.land_type_id %}
                                            <li>
                                                Type de terrain : <span class="badge bg-info">{{land_type.name}}</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% for service in service_types %}
                                        {% if service.id == land_project.service_type_id %}
                                            <li>
                                                Type de service : <span class="badge bg-info">{{service.name}}</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
              </div>
            <!-- Content-->
            <div class="col-lg-8">
                <div class="d-flex flex-column h-100 bg-light rounded-3 shadow-lg p-4">

                    <div class="card-header text-white" style="background-color: #d4ac0d; border-radius:10px;">
                        <center><h2>Phase 1</h2></center>
                        <h6 class="text-white">Si vous n'aviez pas encore de terrain, nous pouvons vous aider à
                            en trouver.</h6>
                    </div></br>

                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <p></p>
                            <div class="col-md-6 form-group">
                                <input type="text" name="client_first_name" class="form-control" placeholder="Entrez votre prénom" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" name="client_last_name" class="form-control" placeholder="Entrez votre nom de famille" required>
                            </div>
                            <p></p>
                            <div class="col-md-6 form-group">
                                <input type="email" name="client_email" class="form-control" placeholder="Entrez votre email" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="tel" name="client_phone_number" class="form-control" placeholder="Entrez votre numéro de téléphone" required>
                                <div class="form-text">Ne pas oubliez l'indicatif</div>
                            </div>
                            <p></p>
                            <p></p>
                            <p></p>
                            <div class="row">
                                <div class="col-sm-12 btn-block">
                                    <button type="submit" class="btn btn-success" style="width:100%">
                                        Continuer vers la phase 2
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div></br></br></br></br></br></br></br></br>
{% endblock %}