{% extends 'base_app/base.html' %}

{% load humanize %}

{% block title %} Sheyp Tracker Offer {% endblock %}

{% block profile_active %} active {% endblock %}

{% load static %}

{% block css_styles %}

{% endblock %}

{% block content %}
    <!-- Page content-->
    <!-- Slanted background-->
    <div class="position-relative bg-gradient" style="height: 480px;">
        <div class="shape shape-bottom shape-slant bg-secondary d-none d-lg-block">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 260">
                <polygon fill="currentColor" points="0,257 0,260 3000,260 3000,0"></polygon>
            </svg>
        </div>
    </div>
    <!-- Page content-->
    <div class="container position-relative zindex-5 pb-4 mb-md-3" style="margin-top: -350px;">
        <div class="row">
            <!-- Sidebar-->
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="bg-light rounded-3 shadow-lg">
                    <div class="px-4 py-4 mb-1 text-center"><img class="d-block rounded-circle mx-auto my-2" src="https://www.shareicon.net/data/512x512/2016/01/13/702410_users_512x512.png" width="110">
                        <h6 class="mb-0 pt-1">{{user.first_name}} {{user.last_name}}</h6><span class="text-muted fs-sm">@{{user.username}}</span>
                    </div>
                    <div class="d-lg-none px-4 pb-4 text-center">
                        <a class="btn btn-primary px-5 mb-2" href="#account-menu" data-bs-toggle="collapse">
                            <i class="ai-menu me-2"></i>
                            Account menu
                        </a>
                    </div>
                    <div class="d-lg-block collapse pb-2" id="account-menu">
                        <h3 class="d-block text-white fs-sm fw-semibold mb-0 px-4 py-3" style="background-color: #d4ac0d;">Tableau de bord</h3>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3" href="{% url 'cart' %}">
                            <i class="ai-plus fs-lg opacity-60 me-2"></i>
                            Mon Panier
                            <span class="text-muted fs-sm fw-normal ms-auto">0</span>
                        </a>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3" href="#">
                            <i class="ai-plus fs-lg opacity-60 me-2"></i>
                            Mes Projets de Construction
                            <span class="text-muted fs-sm fw-normal ms-auto">0</span>
                        </a>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3 active" href="{% url 'real_estate_projects' %}">
                            <i class="ai-plus fs-lg opacity-60 me-2"></i>
                            Mes Projets Immobiliers
                            <span class="text-muted fs-sm fw-normal ms-auto">0</span>
                        </a>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3" href="#">
                            <i class="ai-plus fs-lg opacity-60 me-2"></i>
                            Mes Projets d'Investissements
                            <span class="text-muted fs-sm fw-normal ms-auto">0</span>
                        </a>
                        <h3 class="d-block text-white fs-sm fw-semibold mb-0 px-4 py-3" style="background-color: #d4ac0d;">Paramètres du compte</h3>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3" href="{% url 'profile' %}">
                            Mon Profile
                        </a>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3" href="{% url 'user_password_change' %}">
                            Modification du mot de passe
                        </a>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3 border-top" href="#">
                            Méthodes de payement
                        </a>
                        <div class="d-flex align-items-center border-top"><a class="d-block w-100 nav-link-style px-4 py-3" href="account-notifications.html">Notifications</a>
                            <div class="ms-auto px-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="notifications-switch" data-master-checkbox-for="#notification-settings" checked>
                                    <label class="form-check-label" for="notifications-switch"></label>
                                </div>
                            </div>
                        </div>
                        <form action="{% url 'logout_user' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" style="width:100%">Déconnexion</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Content-->
            <div class="col-lg-8">
                <div class="d-flex flex-column h-100 bg-light rounded-3 shadow-lg p-4">

                    <nav aria-label="breadcrumb">
                        <ol class="py-1 my-2 breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'profile' %}">Profile</a></li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'real_estate_projects' %}">Mes Projets Immobilier</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'project_detail' land_project.id %}">Projet Immobilier #{{land_project.id}}</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'land_project_tracker' land_project.id %}">Sheyp Tracker - Projet Immobilier #{{land_project.id}}</a>
                            </li>
                            <li class="breadcrumb-item"></li>
                        </ol>
                    </nav>
                    <!-- Title -->
                    <div class="align-items-center justify-content-between">
                        <h1 class="h3 mb-3 text-center text-sm-start" align="center">
                            <span style="color: #d4ac0d;">Sheyp Tracker</span> -
                            Projet Immobilier numéro <span style="color: #d4ac0d;">#{{land_project.id}}</span>
                        </h1>
                    </div>
                    <hr>

                    {% if error %}
                        <div class="alert alert-danger alert-dismissible fade show" id="alert1" role="alert">
                            {{ error }}
                        </div>
                    {% else %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {{message.tags}} alert-dismissible fade show" id="alert2" role="alert">
                                    {{message}}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                    <div class="row">
                        <h4 align="center">Détails de l'offre #{{land_project_tracker_offer.id}} </h4>
                        {% for service_type in service_types %}
                            {% if service_type.id == land_project.service_type_id %}

                                {% if service_type.name == "Achat" %}
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <h5><b>Informations sur le Client</b></h5>
                                            {% if land_project_tracker_offer.user_id == 0 %}
                                                 <div class="col-sm-12">
                                                    <ul>
                                                        <li>Nom : {{land_project_tracker_offer.full_name}}</li>
                                                    </ul>
                                                 </div>
                                            {% else %}
                                                {% for u in user %}
                                                    {% if u.id == user_id %}
                                                        <div class="col-sm-6">
                                                            <ul>
                                                                <li>Prénom : {{u.first_name}}</li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <ul>
                                                                <li>Nom de famille : {{u.last_name}}</li>
                                                            </ul>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <h5><b>Informations sur le Terrain</b></h5>
                                            <div class="col-sm-6">
                                                <ul>
                                                    <li>Region : {{land_project_tracker_offer.land_region}}</li>
                                                    <li>Adresse : {{land_project_tracker_offer.land_adress}}</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6">
                                                <ul>
                                                    <li> Type de papier:
                                                        {% for paper in land_papier_types %}
                                                            {% if paper.id == land_project_tracker_offer.land_paper_type_id %}
                                                                {{paper.name}}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </li>
                                                    <li>Plan de situation :
                                                        {% for plan in land_plan_situation %}
                                                            {% if plan.id == land_project_tracker_offer.land_plan_situation_id %}
                                                                {{plan.name}}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6">
                                                <ul>
                                                    <li>Superficie : {{land_project_tracker_offer.land_area}} m2</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6">
                                                <ul>
                                                    <li> Prix:
                                                        {{land_project_tracker_offer.amount|floatformat:2|intcomma}} fcfa
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-12">
                                                <center><b>Informations supplémentaires</b></center>
                                                {{land_project_tracker_offer.additional_info}}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <h5><b>Prix</b></h5>
                                             <div class="col-sm-12">
                                                <ul>
                                                    <li>Prix : {{land_project_tracker_offer.amount}}</li>
                                                </ul>
                                             </div>
                                        </div>
                                        <!--offer gallery-->
                                        <section class="pt-4 mt-lg-2 pb-lg-0">
                                            <div class="gallery row">
                                                {% for img in offer_images %}
                                                    <div class="col-md-4 col-sm-6 mb-grid-gutter">
                                                        <a class="gallery-item rounded-3" href="{{img.image.url}}">
                                                            <img src="{{img.image.url}}">
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </section>
                                        <hr>
                                        {% if land_project_tracker_offer.accepted == 'Yes' %}
                                            <center>
                                                <button type="submit" class="btn btn-success">
                                                    Cette offre a été acceptée
                                                </button>
                                            </center>
                                        {% elif land_project_tracker_offer.accepted == 'No' %}
                                            <center>
                                                <form method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="full_name" value="{{land_project_tracker_offer.full_name}}">
                                                    <input type="hidden" name="phone_number" value="{{land_project_tracker_offer.phone_number}}">
                                                    <input type="hidden" name="amount" value="{{land_project_tracker_offer.amount}}">
                                                    <input type="hidden" name="additional_info" value="{{land_project_tracker_offer.additional_info}}">
                                                    <input type="hidden" name="land_region" value="{{land_project_tracker_offer.land_region}}">
                                                    <input type="hidden" name="land_adress" value="{{land_project_tracker_offer.land_adress}}">
                                                    <input type="hidden" name="land_area" value="{{land_project_tracker_offer.land_area}}">
                                                    <input type="hidden" name="land_price" value="{{land_project_tracker_offer.land_price}}">
                                                    <input type="hidden" name="land_plan_situation_id" value="{{land_project_tracker_offer.land_plan_situation_id}}">
                                                    <input type="hidden" name="land_paper_type_id" value="{{land_project_tracker_offer.land_paper_type_id}}">
                                                    <input type="hidden" name="user_id" value="{{land_project_tracker_offer.user_id}}">
                                                    <input type="hidden" name="land_project_tracker_id" value="{{land_project_tracker.id}}">
                                                    <input type="hidden" name="accepted" value="Yes">
                                                    <button type="submit" name="offer_accepted" value="offer_accepted" class="btn btn-outline-success">
                                                        Accepter cette offre
                                                    </button>
                                                </form>
                                            </center>
                                        {% endif %}
                                    </div>

                                {% elif service_type.name == "Recherche de Location d'un logement/Terrain" %}
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <h5><b>Informations sur le Client</b></h5>
                                            {% if land_project_tracker_offer.user_id == 0 %}
                                                 <div class="col-sm-12">
                                                    <ul>
                                                        <li>Nom : {{land_project_tracker_offer.full_name}}</li>
                                                    </ul>
                                                 </div>
                                            {% else %}
                                                {% for u in user %}
                                                    {% if u.id == user_id %}
                                                        <div class="col-sm-6">
                                                            <ul>
                                                                <li>Prénom : {{u.first_name}}</li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <ul>
                                                                <li>Nom de famille : {{u.last_name}}</li>
                                                            </ul>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <h5><b>Informations sur le Terrain</b></h5>
                                            <div class="col-sm-6">
                                                <ul>
                                                    <li>Region : {{land_project_tracker_offer.land_region}}</li>
                                                    <li>Adresse : {{land_project_tracker_offer.land_adress}}</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6">
                                                <ul>
                                                    <li> Type de papier:
                                                        {% for paper in land_papier_types %}
                                                            {% if paper.id == land_project_tracker_offer.land_paper_type_id %}
                                                                {{paper.name}}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </li>
                                                    <li>Plan de situation :
                                                        {% for plan in land_plan_situation %}
                                                            {% if plan.id == land_project_tracker_offer.land_plan_situation_id %}
                                                                {{plan.name}}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6">
                                                <ul>
                                                    <li>Superficie : {{land_project_tracker_offer.land_area}} m2</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6">
                                                <ul>
                                                    <li> Prix:
                                                        {{land_project_tracker_offer.amount}} fcfa
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-12">
                                                <center><b>Informations supplémentaires</b></center>
                                                {{land_project_tracker_offer.additional_info}}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <h5><b>Prix</b></h5>
                                             <div class="col-sm-12">
                                                <ul>
                                                    <li>Prix : {{land_project_tracker_offer.amount}}</li>
                                                </ul>
                                             </div>
                                        </div>
                                        <!--offer gallery-->
                                        <section class="pt-4 mt-lg-2 pb-lg-0">
                                            <div class="gallery row">
                                                {% for img in offer_images %}
                                                    <div class="col-md-4 col-sm-6 mb-grid-gutter">
                                                        <a class="gallery-item rounded-3" href="{{img.image.url}}">
                                                            <img src="{{img.image.url}}">
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </section>
                                        <hr>
                                        {% if land_project_tracker_offer.accepted == 'Yes' %}
                                            <center>
                                                <button type="submit" class="btn btn-success">
                                                    Cette offre a été acceptée
                                                </button>
                                            </center>
                                        {% elif land_project_tracker_offer.accepted == 'No' %}
                                            <center>
                                                <form method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="full_name" value="{{land_project_tracker_offer.full_name}}">
                                                    <input type="hidden" name="phone_number" value="{{land_project_tracker_offer.phone_number}}">
                                                    <input type="hidden" name="amount" value="{{land_project_tracker_offer.amount}}">
                                                    <input type="hidden" name="additional_info" value="{{land_project_tracker_offer.additional_info}}">
                                                    <input type="hidden" name="land_region" value="{{land_project_tracker_offer.land_region}}">
                                                    <input type="hidden" name="land_adress" value="{{land_project_tracker_offer.land_adress}}">
                                                    <input type="hidden" name="land_area" value="{{land_project_tracker_offer.land_area}}">
                                                    <input type="hidden" name="land_price" value="{{land_project_tracker_offer.land_price}}">
                                                    <input type="hidden" name="land_plan_situation_id" value="{{land_project_tracker_offer.land_plan_situation_id}}">
                                                    <input type="hidden" name="land_paper_type_id" value="{{land_project_tracker_offer.land_paper_type_id}}">
                                                    <input type="hidden" name="user_id" value="{{land_project_tracker_offer.user_id}}">
                                                    <input type="hidden" name="land_project_tracker_id" value="{{land_project_tracker.id}}">
                                                    <input type="hidden" name="accepted" value="Yes">
                                                    <button type="submit" name="offer_accepted" value="offer_accepted" class="btn btn-outline-success">
                                                        Accepter cette offre
                                                    </button>
                                                </form>
                                            </center>
                                        {% endif %}
                                    </div>

                                {% elif service_type.name == "Vente" or "Mise en Location d'un bien Immobilier/Terrain" %}
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <h5><b>Informations sur le Client</b></h5>
                                            {% if land_project_tracker_offer.user_id == 0 %}
                                                 <div class="col-sm-6">
                                                    <ul>
                                                        <li>Nom : {{land_project_tracker_offer.full_name}}</li>
                                                    </ul>
                                                 </div>
                                            {% else %}
                                                {% for u in user %}
                                                    {% if u.id == user_id %}
                                                        <div class="col-sm-6">
                                                            <ul>
                                                                <li>Prénom : {{u.first_name}}</li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <ul>
                                                                <li>Nom de famille : {{u.last_name}}</li>
                                                            </ul>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <center><b>Informations supplémentaires</b></center>
                                                {{land_project_tracker_offer.additional_info}}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <h5><b>Prix</b></h5>
                                             <div class="col-sm-12">
                                                <ul>
                                                    <li>Prix : {{land_project_tracker_offer.amount|floatformat:2|intcomma}} cfa</li>
                                                </ul>
                                             </div>
                                        </div>
                                        <!--offer gallery-->
                                        <section class="pt-4 mt-lg-2 pb-lg-0">
                                            <div class="gallery row">
                                                {% for img in offer_images %}
                                                    <div class="col-md-4 col-sm-6 mb-grid-gutter">
                                                        <a class="gallery-item rounded-3" href="{{img.image.url}}">
                                                            <img src="{{img.image.url}}">
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </section>
                                        <hr>
                                        {% if land_project_tracker_offer.accepted == 'Yes' %}
                                            <center>
                                                <button type="submit" class="btn btn-success">
                                                    Cette offre a été acceptée
                                                </button>
                                            </center>
                                        {% elif land_project_tracker_offer.accepted == 'No' %}
                                            <center>
                                                <form method="POST">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="full_name" value="{{land_project_tracker_offer.full_name}}">
                                                    <input type="hidden" name="phone_number" value="{{land_project_tracker_offer.phone_number}}">
                                                    <input type="hidden" name="amount" value="{{land_project_tracker_offer.amount}}">
                                                    <input type="hidden" name="additional_info" value="{{land_project_tracker_offer.additional_info}}">
                                                    <input type="hidden" name="land_region" value="{{land_project_tracker_offer.land_region}}">
                                                    <input type="hidden" name="land_adress" value="{{land_project_tracker_offer.land_adress}}">
                                                    <input type="hidden" name="land_area" value="{{land_project_tracker_offer.land_area}}">
                                                    <input type="hidden" name="land_price" value="{{land_project_tracker_offer.land_price}}">
                                                    <input type="hidden" name="land_plan_situation_id" value="{{land_project_tracker_offer.land_plan_situation_id}}">
                                                    <input type="hidden" name="land_paper_type_id" value="{{land_project_tracker_offer.land_paper_type_id}}">
                                                    <input type="hidden" name="user_id" value="{{land_project_tracker_offer.user_id}}">
                                                    <input type="hidden" name="land_project_tracker_id" value="{{land_project_tracker.id}}">
                                                    <input type="hidden" name="accepted" value="Yes">
                                                    <button type="submit" name="offer_accepted" value="offer_accepted" class="btn btn-outline-success">
                                                        Accepter cette offre
                                                    </button>
                                                </form>
                                            </center>
                                        {% endif %}
                                    </div>
                                {% endif %}

                            {% endif %}
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}