              {% extends 'base_app/base.html' %}

{% block title %} Mon Profile {% endblock %}

{% block profile_active %} active {% endblock %}

{% load static %}

{% block css_styles %}

{% endblock %}

{% block content %}
    <!-- Page content-->
    <!-- Slanted background-->
    <div class="position-relative bg-gradient" style="height: 480px;">
        <div class="shape shape-bottom shape-slant bg-secondary d-none d-lg-block">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 260">
                <polygon fill="currentColor" points="0,257 0,260 3000,260 3000,0"></polygon>
            </svg>
        </div>
    </div>
    <!-- Page content-->
    <div class="container position-relative zindex-5 pb-4 mb-md-3" style="margin-top: -350px;">
        <div class="row">
            <!-- Sidebar-->
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="bg-light rounded-3 shadow-lg">
                    <div class="px-4 py-4 mb-1 text-center"><img class="d-block rounded-circle mx-auto my-2" src="https://www.shareicon.net/data/512x512/2016/01/13/702410_users_512x512.png" width="110">
                        <h6 class="mb-0 pt-1">{{user.first_name}} {{user.last_name}}</h6><span class="text-muted fs-sm">@{{user.username}}</span>
                    </div>
                    <div class="d-lg-none px-4 pb-4 text-center">
                        <a class="btn btn-primary px-5 mb-2" href="#account-menu" data-bs-toggle="collapse">
                            <i class="ai-menu me-2"></i>
                            Account menu
                        </a>
                    </div>
                    <div class="d-lg-block collapse pb-2" id="account-menu">
                        <h3 class="d-block text-white fs-sm fw-semibold mb-0 px-4 py-3" style="background-color: #d4ac0d;">Tableau de bord</h3>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3" href="#">
                            <i class="ai-plus fs-lg opacity-60 me-2"></i>
                            Mes Projets de Construction
                            <span class="text-muted fs-sm fw-normal ms-auto">0</span>
                        </a>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3 active" href="{% url 'real_estate_projects' %}">
                            <i class="ai-plus fs-lg opacity-60 me-2"></i>
                            Mes Projets Immobiliers
                            <span class="text-muted fs-sm fw-normal ms-auto">0</span>
                        </a>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3" href="#">
                            <i class="ai-plus fs-lg opacity-60 me-2"></i>
                            Mes Projets d'Investissements
                            <span class="text-muted fs-sm fw-normal ms-auto">0</span>
                        </a>
                        <h3 class="d-block text-white fs-sm fw-semibold mb-0 px-4 py-3" style="background-color: #d4ac0d;">Paramètres du compte</h3>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3" href="{% url 'profile' %}">
                            Mon Profile
                        </a>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3" href="{% url 'user_password_change' %}">
                            Modification du mot de passe
                        </a>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3 border-top" href="#">
                            Méthodes de payement
                        </a>
                        <div class="d-flex align-items-center border-top"><a class="d-block w-100 nav-link-style px-4 py-3" href="account-notifications.html">Notifications</a>
                            <div class="ms-auto px-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="notifications-switch" data-master-checkbox-for="#notification-settings" checked>
                                    <label class="form-check-label" for="notifications-switch"></label>
                                </div>
                            </div>
                        </div>
                        <form action="{% url 'logout_user' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" style="width:100%">Déconnexion</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Content-->
            <div class="col-lg-8">
                <div class="d-flex flex-column h-100 bg-light rounded-3 shadow-lg p-4">

                    <nav aria-label="breadcrumb">
                        <ol class="py-1 my-2 breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'profile' %}">Profile</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'real_estate_projects' %}">Mes Projets Immobilier</a></li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'project_detail' land_project.id %}">Projet Immobilier #{{land_project.id}}</a>
                            </li>
                            <li class="breadcrumb-item"></li>
                        </ol>
                    </nav>
                    <!-- Title -->
                    <div class="align-items-center justify-content-between">
                        <h1 class="h1 mb-3 text-sm-start" align="center">
                            Projet Immobilier numéro <span style="color: #d4ac0d;">#{{land_project.id}}</span>
                        </h1>
                    </div>
                    <hr>

                    {% if error %}
                        <div class="alert alert-danger alert-dismissible fade show" id="alert1" role="alert">
                            {{ error }}
                        </div>
                    {% else %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {{message.tags}} alert-dismissible fade show" id="alert2" role="alert">
                                    {{message}}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                    <!-- Payment methods (table)-->
                    <div class="table-responsive fs-md">

                        <h2 class="text-center">Offres reçu pour ce projet</h2>

                        {% for service_type in service_types %}
                            {% if service_type.id == land_project.service_type_id %}

                                <!--Tracker for service type vente-->
                                {% if service_type.name == "Vente" %}
                                    <table class="table table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Montant</th>
                                                <th>Infos</th>
                                                <th>Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--service type = vente-->
                                            {% for offer in land_project_tracker_offer %}
                                                {% if land_project_tracker.id == offer.land_project_tracker_id %}
                                                    {% for user in users %}
                                                        {% if offer.user_id == user.id %}
                                                            <tr>
                                                                <td class="py-3 align-middle">
                                                                    {{user.first_name}}
                                                                </td>
                                                                <td class="py-3 align-middle">{{offer.amount}} fcfa</td>
                                                                <td class="py-3 align-middle" style="word-break: normal;">{{offer.additional_info}}</td>
                                                                <td class="py-3 align-middle">
                                                                    {% load i18n %}
                                                                    {% language 'fr' %}
                                                                        {{offer.created|date:'d F Y'}}
                                                                    {% endlanguage %}
                                                                </td>
                                                                <td class="py-3 align-middle">
                                                                    {% if land_project_tracker_offer_response %}

                                                                        {% for offer_response in land_project_tracker_offer_response %}
                                                                            {% if offer.id == offer_response.land_project_tracker_offer_id %}
                                                                                {% if offer_response.accepted == 'Yes' %}
                                                                                    <button type="submit" name="offer_accepted" value="offer_accepted" class="btn btn-success" data-bs-toggle="tooltip" title="Cette offre a été acceptée">
                                                                                        <i class="ai-thumbs-up" style="font-size: 20px"></i>
                                                                                    </button>
                                                                                 {%endif%}
                                                                            {%endif%}
                                                                        {% endfor %}

                                                                    {% else %}
                                                                        <form method="POST">
                                                                            {% csrf_token %}
                                                                            <input type="hidden" name="land_project_tracker_offer_id" value="{{offer.id}}">
                                                                            <input type="hidden" name="accepted" value="Yes">
                                                                            <button type="submit" name="offer_accepted" value="offer_accepted" class="btn btn-outline-success" data-bs-toggle="tooltip" title="Accepter cette offre">
                                                                                <i class="ai-thumbs-up" style="font-size: 20px"></i>
                                                                            </button>
                                                                        </form>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor%}
                                                {% else %}
                                                    <!-- Alert-->
                                                    <div class="alert alert-info fs-sm mb-4" role="alert">
                                                        <i class="ai-alert-circle fs-lg mt-n1 me-2"></i>
                                                        Vous n'aviez pas encore reçu d'offres !
                                                    </div>
                                                {% endif %}
                                            {% endfor%}
                                        </tbody>
                                    </table>

                                <!--Tracker for service type achat-->
                                {% elif service_type.name == "Achat" %}
                                    <div class="accordion" id="faq">
                                        {% for offer_achat in land_project_tracker_offer_achat %}
                                            {% if land_project_tracker.id == offer_achat.land_project_tracker_id %}
                                                <div class="accordion-item shadow">
                                                    <h2 class="accordion-header" id="faq-heading-1">
                                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-{{offer_achat.id}}" aria-expanded="true" aria-controls="faq-content-{{offer_achat.id}}">
                                                            Offre Numéro
                                                            <span style="color: #d4ac0d;">
                                                                #{{forloop.counter}}
                                                            </span>
                                                            {% if land_project_tracker_offer_response_achat %}

                                                                {% for offer_response_achat in land_project_tracker_offer_response_achat %}
                                                                    {% if offer_achat.id == offer_response_achat.land_project_tracker_offer_id %}
                                                                        {% if offer_response_achat.accepted == 'Yes' %}
                                                                            <button type="submit" name="offer_accepted" value="offer_accepted" class="btn btn-success" data-bs-toggle="tooltip" title="Cette offre a été acceptée">
                                                                                <i class="ai-thumbs-up" style="font-size: 20px"></i>
                                                                            </button>
                                                                         {%endif%}
                                                                    {%endif%}
                                                                {% endfor %}

                                                            {% else %}
                                                                <form method="POST">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" name="land_project_tracker_offer_achat_id" value="{{offer_achat.id}}">
                                                                    <input type="hidden" name="accepted" value="Yes">
                                                                    <button type="submit" name="offer_accepted" value="offer_accepted" class="btn btn-outline-success" data-bs-toggle="tooltip" title="Accepter cette offre" style="margin-left:50%">
                                                                        <i class="ai-thumbs-up" style="font-size: 20px"></i>
                                                                    </button>
                                                                </form>
                                                            {% endif %}
                                                        </button>
                                                    </h2>
                                                    <p></p>
                                                    <div class="accordion-collapse collapse" id="faq-content-{{offer_achat.id}}" aria-labelledby="faq-heading-{{offer_achat.id}}" data-bs-parent="#faq">
                                                        <div class="accordion-body">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <ul>
                                                                        <li>Region : {{offer_achat.region}}</li>
                                                                        <li>Adresse : {{offer_achat.adress}}</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <ul>
                                                                        <li> Type de papier:
                                                                            {% for paper in land_papier_types %}
                                                                                {% if paper.id == offer_achat.land_paper_type_id %}
                                                                                    {{paper.name}}
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </li>
                                                                        <li>Plan de situation :
                                                                            {% for plan in land_plan_situations %}
                                                                                {% if plan.id == offer_achat.land_plan_situation_id %}
                                                                                    {{plan.name}}
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <ul>
                                                                        <li>Superficie : {{offer_achat.area}} m2</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <ul>
                                                                        <li> Prix:
                                                                            {{offer_achat.amount}} fcfa
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <center><b>Informations supplémentaires</b></center>
                                                                    {{offer_achat.additional_info}}
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <!-- Project gallery-->
                                                            <section class="pt-4 mt-lg-2 pb-lg-0">
                                                                <div class="gallery row">
                                                                    {% for img in images %}
                                                                        {% if img.land_id == lands_list.id %}
                                                                            <div class="col-md-4 col-sm-6 mb-grid-gutter">
                                                                                <a class="gallery-item rounded-3" href="{{img.image.url}}">
                                                                                    <img src="{{img.image.url}}" alt="Gallery thumbnail">
                                                                                </a>
                                                                            </div>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                            </section>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <!-- Alert-->
                                                <div class="alert alert-info fs-sm mb-4" role="alert">
                                                    <i class="ai-alert-circle fs-lg mt-n1 me-2"></i>
                                                    Vous n'aviez pas encore reçu d'offres !
                                                </div>
                                            {%endif%}
                                        {% endfor %}
                                    </div>

                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}