{% extends 'base_app/base.html' %}

{% block title %} Immobilier {% endblock %}

{% load static %}

{% block real_estate_active %} active {% endblock %}

{% block css_styles %}

{% endblock %}

{% block content %}
    <!-- Page content-->
    <section class="container-fluid px-0 pb-5 pb-md-6">
        <div class="row g-0 align-items-xl-center">
            <div class="col-lg-6 col-md-7 text-end order-md-2">
                <img class="d-inline-block" src="{% static 'real_estate/images/immobilier2.jpg' %}" alt="Real_estate_image" style="border-radius: 50%" width="945">
            </div>
            <div class="col-lg-6 col-md-5 pt-5 pb-3 py-md-5">
                <div class="mx-auto me-md-5 me-xl-7 ps-3 py-md-3 order-md-1" style="max-width: 516px;">
                    <h1 class="mb-grid-gutter pb-1">L'<span style="color: #d4ac0d">IMMOBILIER</span>, un des secteurs les plus rentables au Sénégal</h1>
                    <p class="callout d-block d-md-none d-lg-block fs-lg text-muted mb-grid-gutter">
                       Depuis les années 2000, le secteur <span style="color: #d4ac0d">IMMOBILIER</span> a connu une croissance énorme, l'apport locatif à augmenter de plus de
                      <span style="color: #d4ac0d">30%</span> et le prix du mètre carré dans la ville de Dakar est actuellement en moyenne à <span style="color: #d4ac0d">550,000 FCFA</span> soit <span style="color: #d4ac0d">838,22 Euro</span>
                      , ce qui fait de ce secteur un domaine d'investissement très rentable.
                    </p>
                    <div class="pt-2">
                        <a class="btn btn-video-sm me-3" style="background-color: #d4ac0d"></a>
                        <a class="btn btn-video-sm me-3" style="background-color: #d4ac0d"></a>
                        <a class="btn btn-video-sm me-3" style="background-color: #d4ac0d"></a>
                        <a class="btn btn-video-sm me-3" style="background-color: #d4ac0d"></a>
                        <a class="btn btn-video-sm me-3" style="background-color: #d4ac0d"></a>
                        <a class="btn btn-video-sm me-3" style="background-color: #d4ac0d"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- CTA-->
    <section class="bg-secondary bg-size-cover py-5 py-md-6" style="background-image: url(img/demo/business-consulting/cta-bg.png);">
        <div class="container py-3 py-md-0">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 text-center text-md-start">
                    <h2 class="mb-4 pb-3 pb-md-0 mb-md-0">Obtenez une consultation gratuite</h2>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="d-flex align-items-center justify-content-center justify-content-sm-start pt-4 pt-sm-2 pt-md-4">
                        <i class="ai-phone fs-xl me-2"></i>
                        <span class="me-2">Appelez-nous</span>
                        <a type="button" class="btn text-white nav-link-style" href="tel:+221338840720" style="background-color: #d4ac0d">+221 77 091 91 22</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Pricing-->
    <section class="container my-2 pt-5 my-md-0 pt-md-6 pt-lg-7 pb-4 pb-md-6">
        <h2 class="text-center pt-2 pb-4">Nos Offres</h2>
        <div class="pricing-wrap">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-grid-gutter">
                    <div class="card card-active w-100">
                        <div class="card-img-top text-center py-5 px-grid-gutter" style="background-color: #37384e">
                            <h3 class="text-light mb-0">Gestion Locative</h3>
                        </div>
                        <div class="card-body px-grid-gutter py-grid-gutter">
                            <div class="d-flex align-items-end py-2 px-4 mb-4">
                                <span class="h5 fw-normal text-muted mb-1 me-2">
                                    Confier votre bien a Sheyp c'est avoir les avantages suivants :
                                </span>
                            </div>
                            <ul class="list-unstyled py-2 mb-4">
                                <li class="d-flex align-items-center mb-3">
                                    <i class="ai-check fs-xl me-2" style="color: #37384e"></i>
                                    <span>
                                        Versement mensuel de <span style="color: #d4ac0d">l'apport locatif le 15</span> de chaque
                                        mois et ça meme en cas de retard de paiement de loyer par les locataires.
                                    </span>
                                </li>
                                <li class="d-flex align-items-center mb-3">
                                    <i class="ai-check fs-xl me-2" style="color: #37384e"></i>
                                    <span>
                                        <span style="color: #d4ac0d">Compte rendu mensuel</span> de gérance et d'entretien avec
                                        preuves visuelles.
                                    </span>
                                </li>
                                <li class="d-flex align-items-center mb-3">
                                    <i class="ai-check fs-xl me-2" style="color: #37384e"></i>
                                    <span>
                                        Entretient de la propriété au moins une fois par semaine.
                                    </span>
                                </li>
                                <li class="d-flex align-items-center mb-3">
                                    <i class="ai-check fs-xl me-2" style="color: #37384e"></i>
                                    <span>
                                        Offrir et installation de <span style="color: #d4ac0d">caméras de surveillance</span>
                                        aux frais de Sheyp.
                                    </span>
                                </li>
                                <li class="d-flex align-items-center mb-3">
                                    <i class="ai-check fs-xl me-2" style="color: #37384e"></i>
                                    <span>
                                        <span style="color: #d4ac0d">Économie de 30%</span> par rapport à un gestionnaire
                                        immobilier classique.
                                    </span>
                                </li>
                                <li class="d-flex align-items-center mb-3">
                                    <i class="ai-check fs-xl me-2" style="color: #37384e"></i>
                                    <span>
                                        Formule de <span style="color: #d4ac0d">commission mensuelle</span> à seulement
                                        <span style="color: #d4ac0d">8%</span> au lieu des <span style="color: #d4ac0d">10%-12%</span> de nos
                                        concurrents.
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services-->
    <section class="container py-5 py-md-6 py-lg-7 my-3">
        <div class="row align-items-center">
              <div class="col-lg-4 col-md-5 text-center text-md-start mb-5 mb-md-0">
                  <h2 class="mb-3">Nos services</h2>
              </div>
              <div class="col-lg-8 col-md-7 bg-position-center bg-repeat-0" style="background-image: url(img/demo/business-consulting/services/bg-shape.svg);">
                  <div class="mx-auto" style="max-width: 610px;">
                      <div class="row align-items-center">
                          <div class="col-sm-6">
                              <div class="bg-light shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                                  <center>
                                      <img class="d-inline-block mb-4 mt-2" src="{% static 'real_estate/images/land.png' %}" alt="land" width="100" style="border-radius:40%">
                                      <h3 class="h5 mb-2" style="color: #d4ac0d">Achat de Terrains</h3>
                                  </center>
                              </div>
                              <div class="bg-light shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                                  <center>
                                      <img class="d-inline-block mb-4 mt-2" src="{% static 'real_estate/images/sell_land.jpg' %}" width="100" style="border-radius:40%">
                                      <h3 class="h5 mb-2">Vente de Terrains</h3>
                                  </center>
                              </div>
                              <div class="bg-light shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                                  <center>
                                      <img class="d-inline-block mb-4 mt-2" src="{% static 'real_estate/images/rent_land.png' %}" width="100" style="border-radius:40%">
                                      <h3 class="h5 mb-2">Location de Terrains</h3>
                                  </center>
                              </div>
                              <div class="bg-light shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                                  <center>
                                      <img class="d-inline-block mb-4 mt-2" src="{% static 'real_estate/images/inspection_property.jpg' %}" width="100" style="border-radius:40%">
                                      <h3 class="h5 mb-2">Inspection technique de biens Immobilier</h3>
                                  </center>
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="bg-light shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                                  <center>
                                      <img class="d-inline-block mb-4 mt-2" src="{% static 'real_estate/images/buy_property.png' %}" width="100" style="border-radius:40%">
                                      <h3 class="h5 mb-2">Achat de biens Immobilier</h3>
                                  </center>
                              </div>
                              <div class="bg-light shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                                  <center>
                                      <img class="d-inline-block mb-4 mt-2" src="{% static 'real_estate/images/sell_property.png' %}" width="100" style="border-radius:40%">
                                      <h3 class="h5 mb-2">Vente de biens Immobilier</h3>
                                  </center>
                              </div>
                              <div class="bg-light shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
                                  <center>
                                      <img class="d-inline-block mb-4 mt-2" src="{% static 'real_estate/images/estimate_property.png' %}" width="100" style="border-radius:40%">
                                      <h3 class="h5 mb-2">Devis de biens Immobilier</h3>
                                  </center>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
        </div>
    </section>

    <!-- lands-->
    <section class="container-fluid my-2 pt-5 my-md-0 pt-md-6 pt-lg-7 pb-4 pb-md-6 bg-secondary" id="land_type">
        <h1 class="text-center">Comprendre les types de terrains au Sénégal</h1></br></br>
        <div class="container row align-items-center">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="accordion" id="faq">
                    <div class="accordion-item shadow">
                        <h2 class="accordion-header" id="faq-heading-1">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1" aria-expanded="true" aria-controls="faq-content-1" style="color: #d4ac0d">
                                Délibération
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse" id="faq-content-1" aria-labelledby="faq-heading-1" data-bs-parent="#faq">
                            <div class="accordion-body">
                                Une délibération donne le droit à une personne physique ou morale d'occuper légalement un terrain
                                appartenant à l'Etat dans les zones non encore dotées d’un plan d’urbanisme ou dont le plan d’urbanisme
                                doit être révisé dans un délai rapproché. Une fois le permis d'occuper délivré, l'intéressé doit mettre
                                le terrain en valeur et payer une redevance annuelle.
                                Toutefois, le permis d’occuper peut être muté en bail emphytéotique ou en titre foncier.</br></br>
                                <span class="badge bg-light text-dark">Ce qu’il faut savoir : </span></br></br>
                                <ul>
                                    <li>Vous achetez une délibération sur le domaine national.</li>
                                    <li>
                                        <span class="badge bg-danger text-light">
                                            l’Etat peut à tout moment reprendre le terrain sans vous verser un dédommagement.
                                        </span>
                                    </li>
                                    <li>Vous êtes soumis à verser une redevance(taxe) annuelle à payer.</li>
                                </ul></br>
                                <span class="badge bg-light text-dark">Notre procédure d’acquisition : </span></br></br>
                                <ul>
                                    <li>Proposition de sites viabilisés.</li>
                                    <li>Choix du terrain par le client.</li>
                                    <li>Proposition d’une offre financière.</li>
                                    <li>Proposition de contrat d’engagement avec les termes de la transaction.</li>
                                    <li>Signature du contrat devant deux témoins du client et le Notaire.</li>
                                    <li>Accompagnement dans la procédure d’enregistrement du titre de propriété au niveau de la direction des impôts et domaines.</li>
                                    <li>Clôture de la transaction et de l’acte de vente devant le Notaire.</li>
                                </ul></br></br>
                                <span class="badge bg-danger text-light">IMPORTANT :</span>
                                    Les <u>délibérations</u> sont les moins chères et les plus faciles à obtenir. Pour plus de protection, nous conseillons à nos clients qui
                                    achèterons ce type de terrain, de directement commencer une procédure de changement de statut pour avoir
                                    au minimum un <u>Bail</u> (<u>Titre Foncier</u> serait meilleur).</br></br>
                                <span class="badge bg-success text-light">Niveau de sûreté  : Faible</span>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item shadow">
                        <h2 class="accordion-header" id="faq-heading-2">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2" aria-expanded="true" aria-controls="faq-content-2" style="color: #d4ac0d">
                                Bail
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse" id="faq-content-2" aria-labelledby="faq-heading-2" data-bs-parent="#faq">
                            <div class="accordion-body">
                                Le Bail est destiné essentiellement à favoriser la réalisation d’investissement à usage agricole, la
                                construction de bâtiments à usage industriel ou commercial, la construction d’immeuble à usage d’habitation
                                ou à usage mixte (commerce et habitation).
                                L’attributaire est obligé de mettre le terrain en valeur dans un délai de 24 mois. En effet, en échange
                                d’un dédommagement et si l’utilité publique le justifie, l’État peut à tout moment reprendre le terrain.
                                Ce bail peut aussi être converti après construction en titre individuel. Il est recommandé de faire
                                l’acquisition devant notaire.</br></br>
                                <span class="badge bg-light text-dark">Ce qu’il faut savoir : </span></br></br>
                                <ul>
                                    <li>Vous achetez un bail d’une durée de 18-50 ans, sur le domaine national.</li>
                                    <li>En échange d’un dédommagement et si l’utilité publique le justifie, l’Etat peut à tout moment reprendre le terrain.</li>
                                    <li>Le Bail est renouvelable et peut aboutir à un titre foncier.</li>
                                    <li>Il faudra payer des redevances(taxe) annuelles.</li>
                                </ul></br>
                                <span class="badge bg-light text-dark">Notre procédure d’acquisition : </span></br></br>
                                <ul>
                                    <li>Proposition de sites viabilisés.</li>
                                    <li>Choix du terrain par le client.</li>
                                    <li>Proposition d’une offre financière.</li>
                                    <li>Proposition de contrat d’engagement avec les termes de la transaction.</li>
                                    <li>Signature du contrat devant deux témoins du client et le Notaire.</li>
                                    <li>Accompagnement dans la procédure d’enregistrement du titre de propriété au niveau de la direction des impôts et domaines.</li>
                                    <li>Clôture de la transaction et de l’acte de vente devant le Notaire.</li>
                                </ul></br></br>
                                <span class="badge bg-success text-light">Niveau de sûreté  : Moyen</span>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item shadow">
                        <h2 class="accordion-header" id="faq-heading-3">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3" aria-expanded="true" aria-controls="faq-content-3" style="color: #d4ac0d">
                                Titre foncier
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse" id="faq-content-3" aria-labelledby="faq-heading-3" data-bs-parent="#faq">
                            <div class="accordion-body">
                                Le titre foncier est un droit de propriété définitif et à part entière qui garantit à son détenteur une
                                occupation permanente et durable d’un bien immobilier qu’il soit bâti ou non bâti..</br></br>
                                <span class="badge bg-light text-dark">Ce qu’il faut savoir : </span></br></br>
                                <ul>
                                    <li>Vous êtes propriétaire à 100 % de votre parcelle même l’état ne peut vous la reprendre.</li>
                                    <li>Vous serez soumis à payer une taxe foncière annuelle estimée en fonction de la valeur de votre bien.</li>
                                </ul></br>
                                <span class="badge bg-light text-dark">Notre procédure d’acquisition : </span></br></br>
                                <ul>
                                    <li>Proposition de sites viabilisés.</li>
                                    <li>Choix du terrain par le client.</li>
                                    <li>Proposition d’une offre financière.</li>
                                    <li>Proposition de contrat d’engagement avec les termes de la transaction.</li>
                                    <li>Signature du contrat devant deux témoins du client et le Notaire.</li>
                                    <li>Accompagnement dans la procédure d’enregistrement du titre de propriété au niveau de la direction des impôts et domaines.</li>
                                    <li>Clôture de la transaction et de l’acte de vente devant le Notaire.</li>
                                </ul></br></br>
                                <span class="badge bg-danger text-light">IMPORTANT :</span> Ce type de terrain est le plus chère.
                                </br></br>
                                <span class="badge bg-success text-light">Niveau de sûreté  : élevé</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-2"></div>
        </div>
    </section>
{% endblock %}