{% extends 'base_app/base.html' %}

{% load humanize %}

{% block title %} Terrains {% endblock %}

{% block profile_active %} active {% endblock %}

{% load static %}

{% block css_styles %}

{% endblock %}

{% block content %}
    <!-- Page content-->
    <!-- Page title-->
    <section class="position-relative bg-dark pt-7 pb-5 pb-md-7 bg-size-cover bg-attachment-fixed"
         style="background-image: url({% static 'real_estate/images/cubes-bg.jpg' %});" xmlns="http://www.w3.org/1999/html">
        <div class="shape shape-bottom shape-curve bg-body">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
                <path fill="currentColor" d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path>
            </svg>
        </div>
        <div class="container position-relative zindex-5 text-center pt-md-6 pt-lg-7 py-5 my-lg-3">
            <h1 class="text-light mb-0">
                Achat/Vente/Location de Terrains
            </h1>
        </div>
    </section>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>

    <!-- Page content-->
    <div class="container position-relative zindex-5 pb-4 mb-md-3" style="margin-top: -350px;">
        <div class="row">
            <!-- Sidebar-->
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="bg-light rounded-3 shadow-lg">
                    <div class="d-lg-none px-4 pb-4 text-center">
                        <a class="btn btn-primary px-5 mb-2" href="#account-menu" data-bs-toggle="collapse">
                            <i class="ai-menu me-2"></i>
                            Menu
                        </a>
                    </div>
                    <div class="d-lg-block collapse pb-2" id="account-menu">
                        <ul class="list-group">
                            <li class="list-group-item bg-light">
                                <b>Phase 1</b>
                                {% if not lands %}
                                    <a type="button" class="btn btn-danger" style="margin-left: 60%" href="{% url 'land_projet_deletion' land_project.id %}">
                                        <i class="ai-trash"></i>
                                    </a>
                                {% endif %}
                                <ul>
                                    {% for land_type in land_types %}
                                        {% if land_type.id == land_project.land_type_id %}
                                            <li>
                                                Type de terrain : <span class="badge bg-info">{{land_type.name}}</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% for service in service_types %}
                                        {% if service.id == land_project.service_type_id %}
                                            <li>
                                                Type de service : <span class="badge bg-info">{{service.name}}</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="list-group-item bg-secondary">
                                <b>Phase 2</b>
                                <ul>
                                    {% for land in lands %}
                                        <li>
                                            Terrain : <span class="badge bg-light">{{forloop.counter}}</span>
                                            <a type="button" class="btn btn-danger float-right" href="{% url 'delete_land' land_project.id land.id %}">
                                                <i class="ai-trash"></i>
                                            </a>
                                            <a type="button" class="btn btn-warning float-right" href="{% url 'edit_land' land_project.id land.id %}">
                                                <i class="ai-edit"></i>
                                            </a>
                                            <a type="button" class="btn btn-success float-right" href="{% url 'clone_land' land_project.id land.id %}" data-bs-toggle="tooltip" title="Cloner ce terrain">
                                                <i class="ai-plus"></i>
                                            </a>
                                            <ul>
                                                <li>
                                                    Region : <span class="badge bg-info">{{land.region}}</span>
                                                </li>
                                                <li>
                                                    Adresse : <span class="badge bg-info">{{land.adress}}</span>
                                                </li>
                                                <li>
                                                    Surface : <span class="badge bg-info">{{land.area}}m²</span>
                                                </li>
                                                <li>
                                                    Plan de situation :
                                                    {% for plan in land_plan_situation %}
                                                        {% if land.land_plan_situation_id == plan.id %}
                                                            <span class="badge bg-info">{{plan.name}}</span>
                                                        {% endif %}
                                                    {% endfor %}
                                                </li>
                                                <li>
                                                    Type de papier :
                                                    {% for land_papier_type in land_papier_types %}
                                                        {% if land.land_paper_type_id == land_papier_type.id %}
                                                            <span class="badge bg-info">{{land_papier_type.name}}</span>
                                                        {% endif %}
                                                    {% endfor %}
                                                </li>
                                                {% for service_type in service_types %}
                                                    {% if service_type.id == land_project.service_type_id %}
                                                        {% if service_type.name == "Achat" or "Recherche de Location d'un logement/Terrain" %}
                                                            <li>
                                                                Budget minimum : <span class="badge bg-info">{{land.minimum_price|floatformat:2|intcomma}} cfa</span>
                                                            </li>
                                                            <li>
                                                                Bidget maximum : <span class="badge bg-info">{{land.maximum_price|floatformat:2|intcomma}} cfa</span>
                                                            </li>
                                                        {% else %}
                                                            <li>
                                                                Prix : <span class="badge bg-info">{{land.price|floatformat:2|intcomma}} cfa</span>
                                                            </li>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                <li>
                                                    Informations supplémentaires : <span class="badge bg-info">{{land.additional_info}}</span>
                                                </li>
                                            </ul></br>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="list-group-item bg-light text-white">
                                <b>Phase 3</b>
                            </li>
                        </ul>
                    </div>
                </div>
              </div>
            <!-- Content-->
            <div class="col-lg-8">
                <div class="d-flex flex-column h-100 bg-light rounded-3 shadow-lg p-4">

                    {% if error %}
                        <div class="alert alert-danger alert-dismissible fade show" id="alert1" role="alert">
                            {{ error }}
                        </div>
                    {% else %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {{message.tags}} alert-dismissible fade show" id="alert2" role="alert">
                                    {{message}}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                    <div class="card-header text-white" style="background-color: #d4ac0d; border-radius:10px;">
                         <center><h2>Phase 2</h2></center>
                     </div></br></br>

                    {% if lands.count == 0 %}
                        <form method="POST">
                            {% csrf_token %}
                             <div class="card-body">
                                 <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Sélectionner la région</label>
                                            <select class="form-select form-control" name="region" required>
                                                <option selected disabled value="">Région</option>
                                                <option value="Dakar">Dakar</option>
                                                <option value="Diourbel">Diourbel</option>
                                                <option value="Saint-Louis">Saint-Louis</option>
                                                <option value="Thiès">Thiès</option>
                                                <option value="Kaolack">Kaolack</option>
                                                <option value="Tambacounda">Tambacounda</option>
                                                <option value="Louga">Louga</option>
                                                <option value="Fatick">Fatick</option>
                                                <option value="Kolda">Kolda</option>
                                                <option value="Matam">Matam</option>
                                                <option value="Kaffrine">Kaffrine</option>
                                                <option value="Kédougou">Kédougou</option>
                                                <option value="Sédhiou">Sédhiou</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>L'adresse du bien</label>
                                            <input type="text" name="adress" class="form-control" placeholder="Exemple: Medina rue6 angle 12" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Surface du bien en m²</label>
                                            <input type="number" name="area" class="form-control" placeholder="Exemple: 150" required>
                                            <div id="emailHelp" class="form-text">10.000m² = 1hectare</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Plan de situation du terrain</label>
                                            <select class="form-select form-control" name="land_plan_situation_id" required="">
                                                <option selected disabled value="">---------------------------------------------</option>
                                                {% for plan in land_plan_situation %}
                                                    <option value="{{plan.id}}">{{plan.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                     <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Type de Papier</label>
                                            <select class="form-select form-control" name="land_paper_type_id" required="">
                                                <option selected disabled value="">--------------------------------------</option>
                                                {% for land_papier_type in land_papier_types %}
                                                    <option value="{{land_papier_type.id}}">{{land_papier_type.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    {% for service_vente in service_types %}
                                        {% if service_vente.id == land_project.service_type_id %}
                                            {% if service_vente.name == "Vente" %}
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Prix de vente (en fcfa)</label>
                                                        <input type="number" name="price" class="form-control" placeholder="Exemple: 5.000.000" required>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="minimum_price" value="0">
                                                <input type="hidden" name="maximum_price" value="0">
                                            {% elif service_vente.name == "Achat" %}
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Budget minimum (en fcfa)</label>
                                                        <input type="number" name="minimum_price" class="form-control" placeholder="Exemple: 1.500.000" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Budget maximum (en fcfa)</label>
                                                        <input type="number" name="maximum_price" class="form-control" placeholder="Exemple: 2.000.000" required>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="price" value="0">

                                            {% elif service_vente.name == "Recherche de Location d'un logement/Terrain" %}
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Budget minimum (en fcfa)</label>
                                                        <input type="number" name="minimum_price" class="form-control" placeholder="Exemple: 1.500.000" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Budget maximum (en fcfa)</label>
                                                        <input type="number" name="maximum_price" class="form-control" placeholder="Exemple: 2.000.000" required>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="price" value="0">

                                            {% elif service_vente.name == "Mise en Location d'un bien Immobilier/Terrain" %}
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Prix de location (en fcfa)</label>
                                                        <input type="number" name="price" class="form-control" placeholder="Exemple: 5.000.000" required>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="minimum_price" value="0">
                                                <input type="hidden" name="maximum_price" value="0">
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    <p></p>

                                     {% for service_devis in service_types_devis %}
                                        {% if service_devis.id == land_project.service_type_id %}
                                            <input type="hidden" name="price" value="0">
                                            <input type="hidden" name="minimum_price" value="0">
                                            <input type="hidden" name="maximum_price" value="0">
                                        {% endif %}
                                    {% endfor %}
                                    <p></p>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" name="additional_info" placeholder="Aviez-vous des informations supplémentaires à ajouter ?"></textarea>
                                        </div>
                                    </div>
                                </div>
                                 </br>
                                 <div class="row">
                                     <div class="col-sm-12 btn-block">
                                         <button type="submit" class="btn" style="width:100%; background-color: #d4ac0d;">Valider</button>
                                     </div>
                                 </div>
                            </div></br>
                        </form>
                    {% else %}
                        <div class="alert bg-warning text-white" role="alert">
                            Le boutton vert avec le signe + permet d'ajouter un autre terrain avec les mêmes informations
                            que le premier. Vous aurez aussi la possibilité de modifier ces infos si vous le voulez.
                        </div></br></br>

                        <a role="button" class="btn btn-success float-right" href="{% url 'land_operation_part2' land_project_pk %}" style="margin-left: 55%">
                            Aller à la phase 3 pour ajouter des images
                         </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}