{% extends 'base_app/base.html' %}

{% block title %} Devis Automatique {% endblock %}

{% load static %}

{% block css_styles %}

{% endblock %}

{% block content %}

    <!-- Page content-->
    <div class="container py-5 py-sm-6 py-md-7">
        <div class="row justify-content-center pt-4">

            <div class="col-lg-10" align="center">
                <h1 class="h2 pb-3">
                    Premier système automatique et 100% gratuit de calcul de devis de construction en Afrique.
                </h1>
                <p class="fs-sm">
                    Nous innovons sans cesse pour vous apporter le meilleur service de qualité possible !
                </p>
                </br></br>
                <div class="bg-secondary rounded-3 px-3 py-4 p-sm-4">

                    {% if error %}
                        <div class="alert alert-danger alert-dismissible fade show" id="alert1" role="alert">
                            {{ error }}
                        </div>
                    {% else %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {{message.tags}} alert-dismissible fade show" id="alert2" role="alert">
                                    {{message}}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}</br>

                    <form class="needs-validation p-2 row" method="POST">
                        {% csrf_token %}
                        <div class="col-sm-6">
                            <label class="form-label"><h5>Nom Complet</h5></label>
                            <input class="form-control" type="text" name="full_name" required>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label"><h5>Email</h5></label>
                            <input class="form-control" type="email" name="email" required>
                        </div>
                        <p></p>
                        <p></p>
                        <div class="col-sm-4">
                            <label class="form-label"><h5>Entrer la surface en m2</h5></label>
                            <input class="form-control" type="number" name="area" placeholder="Exemple: 150m2" required>
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label"><h5>Nombre d'étages</h5></label>
                            <select class="form-select form-control" name="level" required>
                                <option selected disabled value="">--------------------------------</option>
                                <option value="1">Rez-de-chaussée</option>
                                <option value="2">1er étage</option>
                                <option value="3">2ème étage</option>
                                <option value="4">3ème étage</option>
                                <option value="5">4ème étage</option>
                                <option value="6">5ème étage</option>
                                <option value="7">6ème étage</option>
                                <option value="8">7ème étage</option>
                                <option value="9">8ème étage</option>
                                <option value="10">9ème étage</option>
                                <option value="11">10ème étage</option>
                                <option value="12">11ème étage</option>
                                <option value="13">12ème étage</option>
                                <option value="14">13ème étage</option>
                                <option value="15">14ème étage</option>
                                <option value="16">15ème étage</option>
                                <option value="17">16ème étage</option>
                                <option value="18">17ème étage</option>
                                <option value="19">18ème étage</option>
                                <option value="20">19ème étage</option>
                                <option value="21">20ème étage</option>
                                <option value="22">21ème étage</option>
                                <option value="23">22ème étage</option>
                                <option value="24">23ème étage</option>
                                <option value="25">24ème étage</option>
                                <option value="26">25ème étage</option>
                                <option value="27">26ème étage</option>
                                <option value="28">27ème étage</option>
                                <option value="29">28ème étage</option>
                                <option value="30">29ème étage</option>
                                <option value="31">30ème étage</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label"><h5>Pays</h5></label>
                            <select class="form-select form-control" name="country" required>
                                <option selected disabled value="">--------------------------------</option>
                                {% for country in countries %}
                                    <option value="{{country.id}}">{{country.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button class="btn btn-primary" type="submit" style="margin-top: 70px;">
                            Obtenir le devis
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div></br></br></br></br></br></br></br></br></br></br>

{% endblock %}

{% block footer %}
    <footer class="footer bg-dark pt-5 pt-md-6 pt-lg-7">
      <div class="container pt-3 pt-md-0">
        <div class="pb-md-4 text-center">
          <h3 class="text-light fw-light mb-3">Still not convinced?</h3>
          <h2 class="text-light mb-5">Add premium support and lifetime updates to this.</h2><a class="btn btn-primary" href="https://themes.getbootstrap.com/product/around-multipurpose-template-ui-kit/" target="_blank" rel="noopener"><i class="ai-shopping-cart fs-lg me-2"></i>Buy Around</a>
        </div>
        <hr class="hr-light my-5">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-7 pb-md-4 text-center">
            <h4 class="text-light mb-grid-gutter">Subscribe to Newsletter</h4>
            <form class="subscription-form validate" action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
              <div class="input-group flex-nowrap"><i class="ai-mail position-absolute top-50 start-0 translate-middle-y text-muted ms-3"></i>
                <input class="form-control rounded-start" type="email" name="EMAIL" placeholder="Your email">
                <button class="btn btn-primary" type="submit" name="subscribe">Subscribe*</button>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input class="subscription-form-antispam" type="text" name="b_c7103e2c981361a6639545bd5_29ca296126" tabindex="-1">
              </div>
              <div class="form-text text-light opacity-50">*Subscribe to our newsletter to receive early discount offers and new templates info.</div>
              <div class="subscription-status"></div>
            </form>
          </div>
        </div>
        <hr class="hr-light my-5">
        <p class="fs-sm text-center mb-0 pb-5"><span class="text-light opacity-50 me-1">© All rights reserved. Made by</span><a class="nav-link-style nav-link-light" href="https://createx.studio/" target="_blank" rel="noopener">Createx Studio</a></p>
      </div>
    </footer>
{% endblock %}