{% extends 'base_app/base.html' %}

{% block title %} Devis Automatique {% endblock %}

{% load static %}

{% block css_styles %}

{% endblock %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Page content-->
    <div class="container py-5 py-sm-6 py-md-7">
        <div class="row justify-content-center pt-4">

            <div class="col-lg-10">
                <h1 class="h2 pb-3" align="center">
                    Premier système automatique et 100% gratuit de calcul estimatif de devis de construction en Afrique.
                </h1>
                <p class="fs-sm" align="center">
                    Nous innovons sans cesse pour vous apporter le meilleur service de qualité possible !
                </p>
                </br></br>
                <div class="bg-secondary rounded-3 px-3 py-4 p-sm-4">

                    {% if error %}
                        <div class="alert alert-danger alert-dismissible fade show" id="alert1" role="alert">
                            {{ error }}
                        </div>
                    {% else %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {{message.tags}} alert-dismissible fade show" id="alert2" role="alert">
                                    {{message}}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}</br>

                    <div id="myModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content card">
                                <div class="modal-header card-header">
                                    <h2 class="modal-title">Important</h2>
                                </div>
                                <div class="modal-body card-body">
                                    <h5 class="text-warning">
                                        Le résultat que vous allez obtenir n'est qu'une estimation dont le but est de
                                        vous donner une idée sur les quantités de Ciment, Sable, Gravier et Acier pour
                                        chacun des Ouvrages d'un projet de construction. </br>
                                        Nous avons créé ce système en prenant comme référence une surface de 3,5m2.</br>
                                        Il faut savoir que plus le nombre de pièces est élevés, plus la quantité des
                                        matériaux va augmenter. Donc si vous voulez un devis sur mesure, vous
                                        pouvez nous contacter par e-mail ou téléphone
                                        (contact disponible dans la page contact).
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>


                    <form class="needs-validation p-2 row" method="POST">
                        {% csrf_token %}
                        <div class="col-sm-6">
                            <label class="form-label"><h5>Nom Complet</h5></label>
                            <input class="form-control" type="text" name="full_name" required>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label"><h5>Email</h5></label>
                            <input class="form-control" type="email" name="email" required>
                        </div>
                        <p></p>
                        <p></p>
                        <div class="col-sm-4">
                            <label class="form-label"><h5>Entrer la surface en m2</h5></label>
                            <input class="form-control" type="number" name="area" placeholder="Exemple: 150m2" required>
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label"><h5>Nombre d'étages</h5></label>
                            <select class="form-select form-control" name="level" required>
                                <option selected disabled value="">--------------------------------</option>
                                <option value="1">Rez-de-chaussée</option>
                                <option value="2">1er étage</option>
                                <option value="3">2ème étage</option>
                                <option value="4">3ème étage</option>
                                <option value="5">4ème étage</option>
                                <option value="6">5ème étage</option>
                                <option value="7">6ème étage</option>
                                <option value="8">7ème étage</option>
                                <option value="9">8ème étage</option>
                                <option value="10">9ème étage</option>
                                <option value="11">10ème étage</option>
                                <option value="12">11ème étage</option>
                                <option value="13">12ème étage</option>
                                <option value="14">13ème étage</option>
                                <option value="15">14ème étage</option>
                                <option value="16">15ème étage</option>
                                <option value="17">16ème étage</option>
                                <option value="18">17ème étage</option>
                                <option value="19">18ème étage</option>
                                <option value="20">19ème étage</option>
                                <option value="21">20ème étage</option>
                                <option value="22">21ème étage</option>
                                <option value="23">22ème étage</option>
                                <option value="24">23ème étage</option>
                                <option value="25">24ème étage</option>
                                <option value="26">25ème étage</option>
                                <option value="27">26ème étage</option>
                                <option value="28">27ème étage</option>
                                <option value="29">28ème étage</option>
                                <option value="30">29ème étage</option>
                                <option value="31">30ème étage</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label"><h5>Pays</h5></label>
                            <select class="form-select form-control" name="country" required>
                                <option selected disabled value="">--------------------------------</option>
                                {% for country in countries %}
                                    <option value="{{country.id}}">{{country.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button class="btn btn-primary" type="submit" style="margin-top: 70px;">
                            Obtenir le devis
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div></br></br></br></br></br></br></br></br></br></br>

    <script type="text/javascript">
    $(window).load(function(){
        setTimeout(function(){
           $('#myModal').modal('show');
        }, 1000);
        setTimeout(function(){
           $('#myModal').modal('hide');
        }, 20000);
    });
</script>

{% endblock %}