{% extends 'base_app/base.html' %}

{% block title %} Suppression {% endblock %}

{% load static %}

{% block real_estate_active %} active {% endblock %}

{% block css_styles %}

{% endblock %}

{% block content %}
    <!-- Page title-->
    <section class="position-relative bg-dark pt-7 pb-5 pb-md-7 bg-size-cover bg-attachment-fixed"
         style="background-image: url({% static 'real_estate/images/cubes-bg.jpg' %});" xmlns="http://www.w3.org/1999/html">
        <div class="shape shape-bottom shape-curve bg-body">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
                <path fill="currentColor" d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path>
            </svg>
        </div>
        <div class="container position-relative zindex-5 text-center pt-md-6 pt-lg-7 py-5 my-lg-3">
            <h1 class="text-light mb-0">
                Achat/Vente/Location de Biens Immobilier
            </h1>
        </div>
    </section>
    </br>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <nav aria-label="breadcrumb">
                    <ol class="py-1 my-2 breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'property_management_part1' property.id %}">Property management part 1</a>
                        </li>
                        <li class="breadcrumb-item"></li>
                    </ol>
                </nav>
                <p></p>

                {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show" id="alert1" role="alert">
                        {{ error }}
                    </div>
                {% else %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert {{message.tags}} alert-dismissible fade show" id="alert2" role="alert">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}

                <form class="w3-content" method="POST">
                    {% csrf_token %}
                    <center class="card">

                        <div class="card-header bg-danger">
                            <h3>Suppression de l'appartement #{{apartment.id}}</h3>
                        </div>

                        <div class="card-body">
                            <div class="row" style="font-size: 20px">
                                <div class="col-sm-4">
                                    <ul>
                                        <li> Superficie :
                                            <span class="badge bg-secondary text-white">
                                                {{apartment.area}} m2
                                            </span>
                                        </li>
                                        <li> Étage :
                                            <span class="badge bg-secondary text-white">
                                                {{apartment.floor_level}}er/ème étage
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        {% for service_type in service_types %}
                                            {% if service_type.id == property.service_type_id %}

                                                <!--we check if the apartement is related to the property-->
                                                {% if property.id == apartment.property_id %}

                                                    {% if service_type.name == "Achat" %}
                                                        <li>
                                                            Budget Minimum : <span class="badge bg-info">{{apartment.minimum_price}} fcfa</span>
                                                        </li>
                                                        <li>
                                                            Budget Maximum : <span class="badge bg-info">{{apartment.maximum_price}} fcfa</span>
                                                        </li>
                                                    {% elif service_type.name == "Vente" %}
                                                        <li>
                                                            Prix : <span class="badge bg-info">{{apartment.sale_price}} fcfa</span>
                                                        </li>
                                                    {% elif service_type.name == "Mise en Location d'un bien Immobilier/Terrain" %}
                                                        <li>
                                                            Prix : <span class="badge bg-info">{{apartment.rent_price}} fcfa</span>
                                                        </li>
                                                    {% elif service_type.name == "Recherche de Location d'un logement/Terrain" %}
                                                        <li>
                                                            Budget : <span class="badge bg-info">{{apartment.rent_price}} fcfa</span>
                                                        </li>
                                                    {% endif %}

                                                {% endif %}

                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li>
                                            Salle de bain externe : <span class="badge bg-info">{{apartment.number_shared_bathroom}}</span>
                                        </li>
                                        <li>
                                            Salle de bain interne : <span class="badge bg-info">{{apartment.number_private_bathroom}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div></br>
                            <div class="row" style="font-size: 20px">
                                <div class="col-sm-4">
                                    <ul>
                                        <li>
                                            Salon : <span class="badge bg-info">{{apartment.number_living_room}}</span>
                                        </li>
                                        <li>
                                            Chambre à coucher : <span class="badge bg-info">{{apartment.number_bedroom}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li>
                                            Cuisine : <span class="badge bg-info">{{apartment.number_kitchen}}</span>
                                        </li>
                                        <li>
                                            Espace de stockage : <span class="badge bg-info">{{apartment.number_closette}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul>
                                        <li>
                                            Terasse :
                                            <span class="badge bg-info">
                                                {% if apartment.terace == 'Yes' %}
                                                    Oui
                                                {% elif apartment.terace == 'No' %}
                                                    Non
                                                {% endif %}
                                            </span>
                                        </li>
                                        <li>
                                            Balcon :
                                            <span class="badge bg-info">
                                                {% if apartment.terace == 'Yes' %}
                                                    Oui
                                                {% elif apartment.terace == 'No' %}
                                                    Non
                                                {% endif %}
                                            </span>
                                        </li>
                                        <li>
                                            Espace de stockage :
                                            <span class="badge bg-info">
                                                {% if apartment.closette == 'Yes' %}
                                                    Oui
                                                {% elif apartment.closette == 'No' %}
                                                    Non
                                                {% endif %}
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div></br>
                            <div class="row" style="font-size: 20px">
                                <div class="col-sm-12">
                                    Informations supplementaires : </br>
                                    <span class="badge bg-info">{{apartment.aditionnal_info}}</span>
                                </div>
                            </div>
                            </br></br>
                            <form method="POST">
                                {% csrf_token %}
                                <h4>Voulez-vous vraiment supprimer ce terrain ?</h4>
                                <button type="submit" class="btn btn-danger">delete</button>
                            </form>
                        </div>
                    </center>
                </form>

            </div>
        </div>
    </div></br></br></br></br></br></br></br>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="{% static 'base_app/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'base_app/vendor/shufflejs/dist/shuffle.min.js' %}"></script>
{% endblock %}