{% extends 'base_app/base.html' %}

{% load humanize %}

{% block title %} Opération Immobilière Partie 2 {% endblock %}

{% block profile_active %} active {% endblock %}

{% load static %}

{% block css_styles %}

{% endblock %}

{% block content %}
    <!-- Page content-->
    <!-- Page title-->
    <section class="position-relative bg-dark pt-7 pb-5 pb-md-7 bg-size-cover bg-attachment-fixed"
         style="background-image: url({% static 'real_estate/images/cubes-bg.jpg' %});" xmlns="http://www.w3.org/1999/html">
        <div class="shape shape-bottom shape-curve bg-body">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
                <path fill="currentColor" d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path>
            </svg>
        </div>
        <div class="container position-relative zindex-5 text-center pt-md-6 pt-lg-7 py-5 my-lg-3">
            <h1 class="text-light mb-0">
                Achat/Vente/Location de Biens Immobilier
            </h1>
        </div>
    </section>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>

    <!-- Page content-->
    <div class="container position-relative zindex-5 pb-4 mb-md-3" style="margin-top: -350px;">
        <div class="row">
            <!-- Sidebar-->
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="bg-light rounded-3 shadow-lg">
                    <div class="d-lg-none px-4 pb-4 text-center">
                        <a class="btn btn-primary px-5 mb-2" href="#account-menu" data-bs-toggle="collapse">
                            <i class="ai-menu me-2"></i>
                            Menu
                        </a>
                    </div>
                    <div class="d-lg-block collapse pb-2" id="account-menu">
                        <ul class="list-group">
                            <li class="list-group-item bg-light">
                                <b>Phase 1</b>

                                <a type="button" class="btn btn-danger" style="margin-left: 80%" href="{% url 'property_management_deletion' property.id %}">
                                    <i class="ai-trash"></i>
                                </a>

                                <ul>
                                    <li>
                                        Référence : <span class="badge bg-info">#{{property.ref}}</span>
                                    </li>
                                    {% for property_type in property_types %}
                                        {% if property_type.id == property.property_type_id %}
                                            <li>
                                                Type de bien Immobilier : <span class="badge bg-info">{{property_type.name}}</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% for service in service_types %}
                                        {% if service.id == property.service_type_id %}
                                            <li>
                                                Type de service : <span class="badge bg-info">{{service.name}}</span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    <li>
                                        Region : <span class="badge bg-info">{{property.region}}</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="list-group-item bg-secondary">
                                <b>Phase 2</b>
                                <ul>
                                    {% for property_type_detail in property_type_details %}
                                        <a type="button" class="btn btn-warning" href="{% url 'edit_property_type_details' property.id property_type_detail.id %}" style="font-size: 10px; margin-left: 80%;">
                                            <i class="ai-edit"></i>
                                        </a>

                                        <li>
                                            <ul>
                                                <li>
                                                    Adresse : <span class="badge bg-info">{{property_type_detail.adress}}</span>
                                                </li>
                                                <li>
                                                    Superficie : <span class="badge bg-info">{{property_type_detail.area}} m2</span>
                                                </li>
                                                {% for service_type in service_types %}
                                                    {% if service_type.id == property.service_type_id %}

                                                        {% if service_type.name == "Achat" %}
                                                            <li>
                                                                Budget Minimum : <span class="badge bg-info">{{property_type_detail.minimum_price|floatformat:2|intcomma}} fcfa</span>
                                                            </li>
                                                            <li>
                                                                Budget Maximum : <span class="badge bg-info">{{property_type_detail.maximum_price|floatformat:2|intcomma}} fcfa</span>
                                                            </li>
                                                        {% elif service_type.name == "Vente" %}
                                                            <li>
                                                                Prix : <span class="badge bg-info">{{property_type_detail.sale_price|floatformat:2|intcomma}} fcfa</span>
                                                            </li>
                                                        {% elif service_type.name == "Mise en Location d'un bien Immobilier/Terrain" %}
                                                            <li>
                                                                Prix : <span class="badge bg-info">{{property_type_detail.rent_price|floatformat:2|intcomma}} fcfa</span>
                                                            </li>
                                                        {% elif service_type.name == "Recherche de Location d'un logement/Terrain" %}
                                                            <li>
                                                                Budget : <span class="badge bg-info">{{property_type_detail.rent_price|floatformat:2|intcomma}} fcfa</span>
                                                            </li>
                                                        {% endif %}

                                                    {% endif %}
                                                {% endfor %}
                                                {% for property_type in property_types %}
                                                    {% if property_type.id == property.property_type_id %}
                                                        {% if property_type.name == "Maison rez-de-chaussée" %}
                                                            <li>
                                                                Chambre avec salle de bain : <span class="badge bg-info">{{property_type_detail.number_bedroom_with_private_bathroom}}</span>
                                                            </li>
                                                            <li>
                                                                Chambre simple : <span class="badge bg-info">{{property_type_detail.number_bedroom_without_bathroom}}</span>
                                                            </li>
                                                            <li>
                                                                Salle de bain partagée : <span class="badge bg-info">{{property_type_detail.number_shared_bathroom}}</span>
                                                            </li>
                                                            <li>
                                                                Salon : <span class="badge bg-info">{{property_type_detail.number_living_room}}</span>
                                                            </li>
                                                            <li>
                                                                Cuisine : <span class="badge bg-info">{{property_type_detail.number_kitchen}}</span>
                                                            </li>
                                                            <li>
                                                                Terrasse :
                                                                <span class="badge bg-info">
                                                                    {{property_type_detail.terace}}
                                                                </span>
                                                            </li>
                                                            <li>
                                                                Espace de stockage :
                                                                <span class="badge bg-info">
                                                                    {{property_type_detail.closette}}
                                                                </span>
                                                            </li>
                                                        {% elif property_type.name == "Apartement" %}
                                                            <li>
                                                                Étage : <span class="badge bg-info">{{property_type_detail.floor_level}} er/ème étage</span>
                                                            </li>
                                                            <li>
                                                                Balcon :
                                                                <span class="badge bg-info">
                                                                    {{property_type_detail.balcony}}
                                                                </span>
                                                            </li>
                                                            <li>
                                                                Chambre avec salle de bain : <span class="badge bg-info">{{property_type_detail.number_bedroom_with_private_bathroom}}</span>
                                                            </li>
                                                            <li>
                                                                Chambre simple : <span class="badge bg-info">{{property_type_detail.number_bedroom_without_bathroom}}</span>
                                                            </li>
                                                            <li>
                                                                Salle de bain partagée : <span class="badge bg-info">{{property_type_detail.number_shared_bathroom}}</span>
                                                            </li>
                                                            <li>
                                                                Salon : <span class="badge bg-info">{{property_type_detail.number_living_room}}</span>
                                                            </li>
                                                            <li>
                                                                Cuisine : <span class="badge bg-info">{{property_type_detail.number_kitchen}}</span>
                                                            </li>
                                                            <li>
                                                                Terrasse :
                                                                <span class="badge bg-info">
                                                                    {{property_type_detail.terace}}
                                                                </span>
                                                            </li>
                                                            <li>
                                                                Espace de stockage :
                                                                <span class="badge bg-info">
                                                                    {{property_type_detail.closette}}
                                                                </span>
                                                            </li>
                                                        {% elif property_type.name == "Studio" %}
                                                            <li>
                                                                Étage : <span class="badge bg-info">{{property_type_detail.floor_level}} er/ème étage</span>
                                                            </li>
                                                            <li>
                                                                Balcon :
                                                                <span class="badge bg-info">
                                                                    {{property_type_detail.balcony}}
                                                                </span>
                                                            </li>
                                                            <li>
                                                                Espace de stockage :
                                                                <span class="badge bg-info">
                                                                    {{property_type_detail.closette}}
                                                                </span>
                                                            </li>
                                                        {% elif property_type.name == "Chambre simple ou avec toilette" %}
                                                            <li>
                                                                Étage : <span class="badge bg-info">{{property_type_detail.floor_level}} er/ème étage</span>
                                                            </li>
                                                            <li>
                                                                Balcon :
                                                                <span class="badge bg-info">
                                                                    {{property_type_detail.balcony}}
                                                                </span>
                                                            </li>
                                                            <li>
                                                                Espace de stockage :
                                                                <span class="badge bg-info">
                                                                    {{property_type_detail.closette}}
                                                                </span>
                                                            </li>
                                                        {% elif property_type.name == "Immeuble" %}
                                                            <li>
                                                                Nombre d'appartements : <span class="badge bg-info">{{property_type_detail.number_apartment}}</span>
                                                            </li>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                <li>
                                                    Informations supplementaires : <span class="badge bg-info">{{property_type_detail.aditionnal_info}}</span>
                                                </li>
                                            </ul></br>
                                        </li>
                                    {% endfor %}

                                </ul>
                            </li>
                            <li class="list-group-item bg-light">
                                <b>Phase 3</b>
                            </li>
                        </ul>
                    </div>
                </div>
              </div>
            <!-- Content-->
            <div class="col-lg-8">
                <div class="d-flex flex-column h-100 bg-light rounded-3 shadow-lg p-4">

                    {% if error %}
                        <div class="alert alert-danger alert-dismissible fade show" id="alert1" role="alert">
                            {{ error }}
                        </div>
                    {% else %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {{message.tags}} alert-dismissible fade show" id="alert2" role="alert">
                                    {{message}}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                    <nav aria-label="breadcrumb">
                        <ol class="py-1 my-2 breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'property_management_part1' property.id %}">Phase 2</a>
                            </li>
                            <li class="breadcrumb-item"></li>
                        </ol>
                    </nav>
                    <p></p>

                     <div class="card-header text-white" style="background-color: #d4ac0d; border-radius:10px;">
                         <center><h2>Phase 3</h2></center>
                         <center><h3>Ajout d'images</h3></center>
                     </div>

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body"></br></br>
                             <div class="row">
                                <div class="form-group col-sm-12">
                                    {% for property_type_detail in property_type_details %}
                                        <input type="hidden" name="property_type_detail_id" value="{{property_type_detail.id}}">
                                    {% endfor %}
                                    <input type="file" class="form-control-file" name="image" required>
                                </div>
                             </div></br></br></br>
                             <div class="row">
                                 <div class="col-sm-12 btn-block">
                                     <button type="submit" name="image_submit" value="image_submit" class="btn" style="width:100%; background-color: #d4ac0d;">Valider</button>
                                 </div>
                             </div>
                        </div>
                    </form>

                    <section class="pt-4 mt-lg-2 pb-lg-0">
                        <div class="gallery row">
                            <div class="card">
                                <div class="card-header bg-secondary" align="center">Images</div>
                            </div>
                            {% for property_type_detail in property_type_details %}
                                {% for img in property_type_details_images %}
                                    {% if img.property_type_detail_id == property_type_detail.id %}
                                        <div class="col-md-4 col-sm-6 mb-grid-gutter">
                                            <a class="gallery-item rounded-3" href="{{img.image.url}}">
                                                <img src="{{img.image.url}}" style="height:150px">
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </section></br></br>

                    <form method="POST">
                        {% csrf_token %}
                        <center>
                            <button type="submit" class="btn btn-success" name="complete_land_operation" value="complete_land_operation">
                                Terminer
                            </button>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div></br></br></br></br></br></br></br></br></br></br>
{% endblock %}
