{% extends 'base_app/base.html' %}

{% block title %} Opération Immobilière {% endblock %}

{% load static %}

{% block real_estate_active %} active {% endblock %}

{% block css_styles %}

{% endblock %}

{% block content %}
    <!-- Page content-->
    <!-- Hero-->
    <section class="jarallax bg-dark py-6 py-md-7" data-jarallax data-type="scale-opacity" data-speed="0.09">
        <div class="jarallax-img" style="background-image: url({% static 'base_app/img/demo/coworking/hero-bg.jpg' %});"></div>

        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" id="alert1" role="alert">
                {{ error }}
            </div>
        {% else %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}} alert-dismissible fade show" id="alert2" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}

        <div class="container py-md-3">
            <div class="row">
                <div class="col-xl-7 col-lg-8 col-md-10">
                    <div class="bg-light rounded-3 shadow-lg py-5 px-4">
                        <form class="py-sm-2 px-sm-3" method="POST">
                            {% csrf_token %}
                            <h3 class="text-center mb-4" style="color: #d4ac0d">
                                Achat/Vente/Location d'un bien Immobilier
                            </h3>
                            <div class="row">
                                <div class="col-sm-6 mb-3 pb-1">
                                    <label class="form-label">Type de Bien Immobilier</label>
                                    <select class="form-select form-control" name="property_type_id" required="">
                                        <option selected disabled value="">-------------------------------</option>
                                        {% for property_type in property_types %}
                                            <option value="{{property_type.id}}">{{property_type.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-6 mb-3 pb-1">
                                    <label class="form-label">Type de Service</label>
                                    <select class="form-select form-control" name="service_type_id" required="">
                                        <option selected disabled value="">------------------------------</option>
                                        {% for service_type in service_types %}
                                            <option value="{{service_type.id}}">{{service_type.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mb-3 pb-1">
                                    <div class="form-group">
                                        <label class="form-label">Région</label>
                                        <select class="form-select form-control" name="region" required="">
                                            <option selected disabled value="">Région</option>
                                            <option value="Dakar">Dakar</option>
                                            <option value="Diourbel">Diourbel</option>
                                            <option value="Saint-Louis">Saint-Louis</option>
                                            <option value="Thiès">Thiès</option>
                                            <option value="Kaolack">Kaolack</option>
                                            <option value="Tambacounda">Tambacounda</option>
                                            <option value="Louga">Louga</option>
                                            <option value="Fatick">Fatick</option>
                                            <option value="Kolda">Kolda</option>
                                            <option value="Matam">Matam</option>
                                            <option value="Kaffrine">Kaffrine</option>
                                            <option value="Kédougou">Kédougou</option>
                                            <option value="Sédhiou">Sédhiou</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center pt-2">
                                <div class="col-sm-6 mb-4 mb-sm-0"><a href="tel:+15262200459"><i class="ai-phone fs-xl me-2"></i>+ 1 526 220 0459</a></div>
                                <div class="col-sm-6">
                                    <button class="btn btn-primary d-block w-100" type="submit">Commencer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About (Services)-->
    <section class="container mt-4 pt-5 mt-md-2 pt-md-7 pb-6">
        <h2 class="text-center mb-3" style="color: #d4ac0d;">Immobilier au Sénégal</h2>
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-sm-12">
                <p class="text-center mb-0">
                    L'Immobilier est sans doute l'un des meilleurs secteurs dans lesquels il faut investir au Sénégal.
                    Chaque mois, au minimum 150 000 recherches de "maison à vendre" et 30 000 recherches d'"appartements
                    à vendre" sont effectuées Sénégal.
                </p>
            </div>
        </div>
    </section>

    <!-- Virtual tour-->
    <section class="jarallax bg-dark py-7" data-jarallax data-speed="0.25">
        <div class="jarallax-img" style="background-image: url({% static 'base_app/img/demo/coworking/virtual-tour-bg.jpg' %});"></div>
        <div class="container text-center py-md-5"><a class="d-inline-block bg-primary rounded-circle" href="#">
            <img src="{% static 'base_app/img/demo/coworking/icons/360-tour.svg' %}" alt="360 VR Tour" width="195"></a>
        </div>
    </section>

    <!-- Properties available-->
    <section class="container pt-5 mt-5 mt-md-0 pt-md-6 pt-lg-7">
        <h2 class="text-center mb-5">Propriétés Immobilières disponibles</h2></br></br>

        <div class="row pb-1">
            <!-- Item-->
            {% for property in properties %}

                <!--we only show the land with servie type = vente or mise en location-->
                {% for service_type in service_types %}
                    {% if property.service_type_id == service_type.id %}
                        {% if service_type.name == "Vente" or "Mise en Location d'un bien Immobilier/Terrain" %}

                            {% for property_type in property_types %}
                                {% if property.property_type_id == property_type.id %}

                                    <!--property type == Maison rez-de-chaussée-->
                                    {% if property_type.name == "Maison rez-de-chaussée" %}
                                        {% for house in houses %}
                                            {% if house.property_id == property.id %}
                                                <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
                                                    <a href="{% url 'property_management_ad_detail' property.id house.id %}">
                                                        <div class="card card-product card-hover">
                                                            <a class="card-img-top" href="{% url 'property_management_ad_detail' property.id house.id %}">
                                                                <img src="{% static 'real_estate/images/land_image.png' %}">
                                                            </a>
                                                            <div class="card-body">
                                                                {% for type in property_types %}
                                                                    {% if property.property_type_id == type.id %}
                                                                        <span class="meta-link fs-xs mb-1">{{type.name}}</span>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                <h3 class="fs-md fw-medium mb-2">
                                                                    <a class="meta-link">{{property.region}} -
                                                                        {{house.area}} m2
                                                                    </a>
                                                                </h3>
                                                                <span class="text-heading fw-semibold">
                                                                    {% if service_type.name == "Mise en Location d'un bien Immobilier/Terrain" %}
                                                                        prix: {{house.rent_price}} fcfa
                                                                    {% elif service_type.name == "Vente" %}
                                                                        prix: {{house.sale_price}} fcfa
                                                                    {% endif %}
                                                                </span></br></br>
                                                                <span class="meta-link fs-xs mb-1">
                                                                    {% load i18n %}
                                                                    {% language 'fr' %}
                                                                        {{property.created|date:'d F Y'}}
                                                                    {% endlanguage %}
                                                                </span>
                                                            </div>
                                                            <div class="card-footer">
                                                                <div class="star-rating mt-n1">
                                                                    <i class="sr-star ai-star-filled active"></i>
                                                                    <i class="sr-star ai-star-filled active"></i>
                                                                    <i class="sr-star ai-star-filled active"></i>
                                                                    <i class="sr-star ai-star-filled active"></i>
                                                                    <i class="sr-star ai-star"></i>
                                                                </div>
                                                                <div class="d-flex align-items-center">
                                                                    <span class="btn-wishlist">
                                                                        <i class="ai-heart"></i>
                                                                    </span>
                                                                    <span class="btn-divider"></span>
                                                                    <form class="w3-content" method="POST">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="land_id" value="0">
                                                                        <input type="hidden" name="property_id" value="{{property.id}}">
                                                                        <button type="submit" class="btn btn-addtocart" name="add_cart" value="add_cart" style="width: 100%">
                                                                            <span class="btn-tooltip">Ajouter à mon panier</span>
                                                                            <i class="ai-shopping-cart"></i>
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    <!--property type == Apartement-->
                                    {% if property_type.name == "Apartement" %}
                                    {% endif %}

                                    <!--property type == Studio-->
                                    {% if property_type.name == "Studio" %}
                                        {% for studio in studios %}
                                            {% if studio.property_id == property.id %}
                                                <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
                                                    <a href="{% url 'property_management_ad_detail' property.id studio.id %}">
                                                        <div class="card card-product card-hover">
                                                            <a class="card-img-top" href="{% url 'property_management_ad_detail' property.id studio.id %}">
                                                                <img src="{% static 'real_estate/images/land_image.png' %}">
                                                            </a>
                                                            <div class="card-body">
                                                                {% for type in property_types %}
                                                                    {% if property.property_type_id == type.id %}
                                                                        <span class="meta-link fs-xs mb-1">{{type.name}}</span>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                <h3 class="fs-md fw-medium mb-2">
                                                                    <a class="meta-link">{{property.region}} -
                                                                        {{studio.area}} m2
                                                                    </a>
                                                                </h3>
                                                                <span class="text-heading fw-semibold">
                                                                    {% if service_type.name == "Mise en Location d'un bien Immobilier/Terrain" %}
                                                                        prix: {{studio.rent_price}} fcfa
                                                                    {% elif service_type.name == "Vente" %}
                                                                        prix: {{studio.sale_price}} fcfa
                                                                    {% endif %}
                                                                </span></br></br>
                                                                <span class="meta-link fs-xs mb-1">
                                                                    {% load i18n %}
                                                                    {% language 'fr' %}
                                                                        {{property.created|date:'d F Y'}}
                                                                    {% endlanguage %}
                                                                </span>
                                                            </div>
                                                            <div class="card-footer">
                                                                <div class="star-rating mt-n1">
                                                                    <i class="sr-star ai-star-filled active"></i>
                                                                    <i class="sr-star ai-star-filled active"></i>
                                                                    <i class="sr-star ai-star-filled active"></i>
                                                                    <i class="sr-star ai-star-filled active"></i>
                                                                    <i class="sr-star ai-star"></i>
                                                                </div>
                                                                <div class="d-flex align-items-center">
                                                                    <span class="btn-wishlist">
                                                                        <i class="ai-heart"></i>
                                                                    </span>
                                                                    <span class="btn-divider"></span>
                                                                    <form class="w3-content" method="POST">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="land_id" value="0">
                                                                        <input type="hidden" name="property_id" value="{{property.id}}">
                                                                        <button type="submit" class="btn btn-addtocart" name="add_cart" value="add_cart" style="width: 100%">
                                                                            <span class="btn-tooltip">Ajouter à mon panier</span>
                                                                            <i class="ai-shopping-cart"></i>
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    <!--property type == Immeuble-->
                                    {% if property_type.name == "Immeuble" %}
                                    {% endif %}

                                    <!--property type == Chambre simple ou avec toilette-->
                                    {% if property_type.name == "Chambre simple ou avec toilette" %}
                                    {% endif %}

                                {% endif %}
                            {% endfor %}

                        {% endif %}
                    {% endif %}
                {% endfor %}

            {%endfor%}
        </div>
    </section>
{% endblock %}