              {% extends 'base_app/base.html' %}

{% block title %} Mon Profile {% endblock %}

{% block profile_active %} active {% endblock %}

{% load static %}

{% block css_styles %}

{% endblock %}

{% block content %}
    <!-- Page content-->
    <!-- Slanted background-->
    <div class="position-relative bg-gradient" style="height: 480px;">
        <div class="shape shape-bottom shape-slant bg-secondary d-none d-lg-block">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 260">
                <polygon fill="currentColor" points="0,257 0,260 3000,260 3000,0"></polygon>
            </svg>
        </div>
    </div>
    <!-- Page content-->
    <div class="container position-relative zindex-5 pb-4 mb-md-3" style="margin-top: -350px;">
        <div class="row">
            <!-- Sidebar-->
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="bg-light rounded-3 shadow-lg">
                    <div class="px-4 py-4 mb-1 text-center"><img class="d-block rounded-circle mx-auto my-2" src="https://www.shareicon.net/data/512x512/2016/01/13/702410_users_512x512.png" width="110">
                        <h6 class="mb-0 pt-1">{{user.first_name}} {{user.last_name}}</h6><span class="text-muted fs-sm">@{{user.username}}</span>
                    </div>
                    <div class="d-lg-none px-4 pb-4 text-center">
                        <a class="btn btn-primary px-5 mb-2" href="#account-menu" data-bs-toggle="collapse">
                            <i class="ai-menu me-2"></i>
                            Account menu
                        </a>
                    </div>
                    <div class="d-lg-block collapse pb-2" id="account-menu">
                        <h3 class="d-block text-white fs-sm fw-semibold mb-0 px-4 py-3" style="background-color: #d4ac0d;">Tableau de bord</h3>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3" href="{% url 'cart' %}">
                            <i class="ai-plus fs-lg opacity-60 me-2"></i>
                            Mon Panier
                            <span class="text-muted fs-sm fw-normal ms-auto">0</span>
                        </a>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3" href="#">
                            <i class="ai-plus fs-lg opacity-60 me-2"></i>
                            Mes Projets de Construction
                            <span class="text-muted fs-sm fw-normal ms-auto">0</span>
                        </a>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3 active" href="{% url 'real_estate_projects' %}">
                            <i class="ai-plus fs-lg opacity-60 me-2"></i>
                            Mes Projets Immobiliers
                            <span class="text-muted fs-sm fw-normal ms-auto">0</span>
                        </a>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3" href="#">
                            <i class="ai-plus fs-lg opacity-60 me-2"></i>
                            Mes Projets d'Investissements
                            <span class="text-muted fs-sm fw-normal ms-auto">0</span>
                        </a>
                        <h3 class="d-block text-white fs-sm fw-semibold mb-0 px-4 py-3" style="background-color: #d4ac0d;">Paramètres du compte</h3>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3" href="{% url 'profile' %}">
                            Mon Profile
                        </a>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3" href="{% url 'user_password_change' %}">
                            Modification du mot de passe
                        </a>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3 border-top" href="#">
                            Méthodes de payement
                        </a>
                        <div class="d-flex align-items-center border-top"><a class="d-block w-100 nav-link-style px-4 py-3" href="account-notifications.html">Notifications</a>
                            <div class="ms-auto px-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="notifications-switch" data-master-checkbox-for="#notification-settings" checked>
                                    <label class="form-check-label" for="notifications-switch"></label>
                                </div>
                            </div>
                        </div>
                        <form action="{% url 'logout_user' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" style="width:100%">Déconnexion</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Content-->
            <div class="col-lg-8">
                <div class="d-flex flex-column h-100 bg-light rounded-3 shadow-lg p-4">

                    <nav aria-label="breadcrumb">
                        <ol class="py-1 my-2 breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'profile' %}">Profile</a></li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'real_estate_projects' %}">Mes Projets Immobilier</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'project_detail' land_project.id %}">Projet Immobilier numéro #{{land_project.id}}</a>
                            </li>
                            <li class="breadcrumb-item"></li>
                        </ol>
                    </nav>

                    <!-- Title -->
                    <div class="align-items-center justify-content-between">
                        <h1 class="h3 mb-3 text-center text-sm-start" align="center">
                            Projet Immobilier numéro <span style="color: #d4ac0d;">#{{land_project.id}}</span>
                        </h1>
                    </div>
                    <hr>

                    {% if error %}
                        <div class="alert alert-danger alert-dismissible fade show" id="alert1" role="alert">
                            {{ error }}
                        </div>
                    {% else %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {{message.tags}} alert-dismissible fade show" id="alert2" role="alert">
                                    {{message}}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                    <div class="card bg-secondary">
                        <div class="card-header bg-warning">
                            <h5>Modifications des informations du Terrain Numéro<span style="color: #d4ac0d;">#{{land_info.id}}</span></h5>
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Sélectionner la région</label>
                                            <select class="form-select form-control" name="region">
                                                <option selected value="{{land_info.region}}">{{land_info.region}}</option>
                                                <option value="Dakar">Dakar</option>
                                                <option value="Diourbel">Diourbel</option>
                                                <option value="Saint-Louis">Saint-Louis</option>
                                                <option value="Thiès">Thiès</option>
                                                <option value="Kaolack">Kaolack</option>
                                                <option value="Tambacounda">Tambacounda</option>
                                                <option value="Louga">Louga</option>
                                                <option value="Fatick">Fatick</option>
                                                <option value="Kolda">Kolda</option>
                                                <option value="Matam">Matam</option>
                                                <option value="Kaffrine">Kaffrine</option>
                                                <option value="Kédougou">Kédougou</option>
                                                <option value="Sédhiou">Sédhiou</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>L'adresse du bien</label>
                                            <input type="text" name="adress" class="form-control" value="{{land_info.adress}}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Surface du bien en m²</label>
                                            <input type="number" name="area" class="form-control" value="{{land_info.area}}">
                                            <div id="emailHelp" class="form-text">10.000m² = 1hectare</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Plan de situation du terrain</label>
                                            <select class="form-select form-control" name="land_plan_situation_id">
                                                {% for plan in land_plan_situations %}
                                                    {% if plan.id == land_info.land_plan_situation_id %}
                                                        <option selected value="{{plan.id}}">{{plan.name}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                                {% for plan in land_plan_situations %}
                                                    <option value="{{plan.id}}">{{plan.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    {% for service_vente in service_type_vente %}
                                        {% if service_vente.id == land_project.service_type_id %}
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Prix de vente (en fcfa)</label>
                                                    <input type="number" name="price" class="form-control" value="{{land_info.price}}">
                                                </div>
                                            </div>
                                            <input type="hidden" name="minimum_price" value="{{land_info.minimum_price}}">
                                            <input type="hidden" name="maximum_price" value="{{land_info.maximum_price}}">
                                        {% else %}
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Prix minimum (en fcfa)</label>
                                                    <input type="number" name="minimum_price" class="form-control" value="{{land_info.minimum_price}}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Prix maximum (en fcfa)</label>
                                                    <input type="number" name="maximum_price" class="form-control" value="{{land_info.maximum_price}}">
                                                </div>
                                            </div>
                                            <input type="hidden" name="price" value="{{land_info.price}}">
                                        {% endif %}
                                    {% endfor %}

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" name="additional_info">{{land_info.additional_info}}</textarea>
                                        </div>
                                        </br>
                                    </div>
                                    <button type="submit" class="btn btn-warning">Envoyer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}