{% extends 'base_app/base.html' %}

{% load humanize %}

{% block title %} Mon Profile {% endblock %}

{% block profile_active %} active {% endblock %}

{% load static %}

{% block css_styles %}
    <style>
        .shake {
              position: relative;
              text-decoration: none;
              color: white;
              display: inline-block;
              animation: .8s shake infinite alternate;
        }

        @keyframes shake {
          0% { transform: skewX(-15deg); }
          5% { transform: skewX(15deg); }
          10% { transform: skewX(-15deg); }
          15% { transform: skewX(15deg); }
          20% { transform: skewX(0deg); }
          100% { transform: skewX(0deg); }
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Page content-->
    <!-- Slanted background-->
    <div class="position-relative bg-gradient" style="height: 480px;">
        <div class="shape shape-bottom shape-slant bg-secondary d-none d-lg-block">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 260">
                <polygon fill="currentColor" points="0,257 0,260 3000,260 3000,0"></polygon>
            </svg>
        </div>
    </div>
    <!-- Page content-->
    <div class="container position-relative zindex-5 pb-4 mb-md-3" style="margin-top: -350px;">
        <div class="row">
            <!-- Sidebar-->
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="bg-light rounded-3 shadow-lg">
                    <div class="px-4 py-4 mb-1 text-center"><img class="d-block rounded-circle mx-auto my-2" src="https://www.shareicon.net/data/512x512/2016/01/13/702410_users_512x512.png" width="110">
                        <h6 class="mb-0 pt-1">{{user.first_name}} {{user.last_name}}</h6><span class="text-muted fs-sm">@{{user.username}}</span>
                    </div>
                    <div class="d-lg-none px-4 pb-4 text-center">
                        <a class="btn btn-primary px-5 mb-2" href="#account-menu" data-bs-toggle="collapse">
                            <i class="ai-menu me-2"></i>
                            Account menu
                        </a>
                    </div>
                    <div class="d-lg-block collapse pb-2" id="account-menu">
                        <h3 class="d-block text-white fs-sm fw-semibold mb-0 px-4 py-3" style="background-color: #d4ac0d;">Tableau de bord</h3>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3" href="{% url 'cart' %}">
                            <i class="ai-plus fs-lg opacity-60 me-2"></i>
                            Mon Panier
                            <span class="text-muted fs-sm fw-normal ms-auto">0</span>
                        </a>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3" href="{% url 'construction_projects' %}">
                            <i class="ai-plus fs-lg opacity-60 me-2"></i>
                            Mes Projets de Construction
                            <span class="text-muted fs-sm fw-normal ms-auto">0</span>
                        </a>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3 active" href="{% url 'real_estate_projects' %}">
                            <i class="ai-plus fs-lg opacity-60 me-2"></i>
                            Mes Projets Immobiliers
                            <span class="text-muted fs-sm fw-normal ms-auto">0</span>
                        </a>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3" href="#">
                            <i class="ai-plus fs-lg opacity-60 me-2"></i>
                            Mes Projets d'Investissements
                            <span class="text-muted fs-sm fw-normal ms-auto">0</span>
                        </a>
                        <h3 class="d-block text-white fs-sm fw-semibold mb-0 px-4 py-3" style="background-color: #d4ac0d;">Paramètres du compte</h3>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3" href="{% url 'profile' %}">
                            Mon Profile
                        </a>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3" href="{% url 'user_password_change' %}">
                            Modification du mot de passe
                        </a>
                        <a class="d-flex align-items-center nav-link-style px-4 py-3 border-top" href="#">
                            Méthodes de payement
                        </a>
                        <div class="d-flex align-items-center border-top"><a class="d-block w-100 nav-link-style px-4 py-3" href="account-notifications.html">Notifications</a>
                            <div class="ms-auto px-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="notifications-switch" data-master-checkbox-for="#notification-settings" checked>
                                    <label class="form-check-label" for="notifications-switch"></label>
                                </div>
                            </div>
                        </div>
                        <form action="{% url 'logout_user' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger" style="width:100%">Déconnexion</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Content-->
            <div class="col-lg-8">
                <div class="d-flex flex-column h-100 bg-light rounded-3 shadow-lg p-4">

                    <nav aria-label="breadcrumb">
                        <ol class="py-1 my-2 breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'profile' %}">Profile</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'real_estate_projects' %}">Mes Projets Immobilier</a></li>
                            <li class="breadcrumb-item"></li>
                        </ol>
                    </nav>
                    <!-- Title -->
                    <div class="align-items-center justify-content-between">
                        <h1 class="h3 mb-3 text-center text-sm-start" align="center">
                            Projet Immobilier <span style="color: #d4ac0d;">#{{property_project.ref}}</span>
                        </h1>
                    </div>
                    <hr>

                    {% if error %}
                        <div class="alert alert-danger alert-dismissible fade show" id="alert1" role="alert">
                            {{ error }}
                        </div>
                    {% else %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {{message.tags}} alert-dismissible fade show" id="alert2" role="alert">
                                    {{message}}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                    {% for property_project_tracker in property_project_trackers %}
                        <a class="card" href="{% url 'property_project_tracker' property_project.id property_type_detail.id property_project_tracker.id %}" data-bs-toggle="tooltip" title="Cliquer pour plus de détails">
                            <div class="card-body bg-secondary" align="center">
                                <p class="card-text">
                                    <h3 class="fw-medium">
                                        Sheyp Tracker
                                    </h3>
                                    <h5 class="shake text-dark" style="">
                                        Suivez les avancées de votre projet grâce à notre Tracker !
                                        <i class="ai-bell" style="color:red"></i>
                                    </h5>
                                </p>
                            </div>
                        </a>
                        </br>
                    {%endfor%}

                    <div class="row" style="font-size: 20px">
                        <div class="col-sm-12">
                            <ul>
                                <li>
                                    <b>Type de projet Immobilier:</b>
                                    {% for property_type in property_types %}
                                        {% if property_type.id == property_project.property_type_id %}
                                            <span style="color: #d4ac0d;">{{property_type.name}}</span>
                                        {% endif %}
                                    {% endfor %}
                                </li>
                                <li>
                                    <b>Type de service:</b>
                                    {% for service_type in service_types %}
                                        {% if service_type.id == property_project.service_type_id %}
                                            <span style="color: #d4ac0d;">{{service_type.name}}</span>
                                        {% endif %}
                                    {% endfor %}
                                </li>
                                {% for service_type in service_types %}
                                    {% if service_type.id == property_project.service_type_id %}

                                        {% if service_type.name == "Achat" %}
                                            <li>
                                                Budget Minimum : <span class="badge bg-info">{{property_type_detail.minimum_price|floatformat:2|intcomma}} fcfa</span>
                                            </li>
                                            <li>
                                                Budget Maximum : <span class="badge bg-info">{{property_type_detail.maximum_price|floatformat:2|intcomma}} fcfa</span>
                                            </li>
                                        {% elif service_type.name == "Vente" %}
                                            <li>
                                                Prix : <span class="badge bg-info">{{property_type_detail.sale_price|floatformat:2|intcomma}} fcfa</span>
                                            </li>
                                        {% elif service_type.name == "Mise en Location d'un bien Immobilier/Terrain" %}
                                            <li>
                                                <b>Prix mensuel:</b> <span class="badge bg-info">{{property_type_detail.rent_price|floatformat:2|intcomma}} fcfa</span>
                                            </li>
                                        {% elif service_type.name == "Recherche de Location d'un logement/Terrain" %}
                                            <li>
                                                Budget : <span class="badge bg-info">{{property_type_detail.rent_price|floatformat:2|intcomma}} fcfa</span>
                                            </li>
                                        {% endif %}

                                    {% endif %}
                                {% endfor %}
                                <li>
                                    <b>Region:</b>
                                    <span style="color: #d4ac0d;">{{property_project.region}}</span>
                                </li>
                                <li>
                                    <b>Status:</b>
                                    {% if property_project.statut == "In progress" %}
                                        <span style="color: #d4ac0d;">En cours ...</span>
                                    {% elif property_project.statut == "Done" %}
                                        <span style="color: green">terminé</span>
                                    {% endif %}
                                </li>
                                <li>
                                    <b>Adresse:</b>
                                    <span style="color: #d4ac0d;">{{property_type_detail.adress}}</span>
                                </li>
                                <li>
                                    <b>Surface:</b>
                                    <span style="color: #d4ac0d;">{{property_type_detail.area}} m2</span>
                                </li>

                                {% for property_type in property_types %}
                                    {% if property_type.id == property_project.property_type_id %}

                                        {% if property_type.name == "Apartement" %}
                                            <li>
                                                Étage : <span style="color: #d4ac0d;">{{property_type_detail.floor_level}} er/ème étage</span>
                                            </li>
                                            <li>
                                                Balcon :
                                                <span style="color: #d4ac0d;">
                                                    {{property_type_detail.balcony}}
                                                </span>
                                            </li>
                                            <li>
                                                <b>Chambre avec salle de bain:</b>
                                                <span style="color: #d4ac0d;">{{property_type_detail.number_bedroom_with_private_bathroom}}</span>
                                            </li>
                                            <li>
                                                <b>Chambre simple:</b>
                                                <span style="color: #d4ac0d;">{{property_type_detail.number_bedroom_without_bathroom}}</span>
                                            </li>
                                            <li>
                                                <b>Salle de bain partagée:</b>
                                                <span style="color: #d4ac0d;">{{property_type_detail.number_shared_bathroom}}</span>
                                            </li>
                                            <li>
                                                <b>Salon:</b>
                                                <span style="color: #d4ac0d;">{{property_type_detail.number_living_room}}</span>
                                            </li>
                                            <li>
                                                <b>Cuisine:</b>
                                                <span style="color: #d4ac0d;">{{property_type_detail.number_kitchen}}</span>
                                            </li>
                                            <li>
                                                <b>Terrasse:</b>
                                                <span style="color: #d4ac0d;">{{property_type_detail.terace}}</span>
                                            </li>
                                        {% endif %}

                                        {% if property_type.name == "Maison rez-de-chaussée" %}
                                            <li>
                                                <b>Chambre avec salle de bain:</b>
                                                <span style="color: #d4ac0d;">{{property_type_detail.number_bedroom_with_private_bathroom}}</span>
                                            </li>
                                            <li>
                                                <b>Chambre simple:</b>
                                                <span style="color: #d4ac0d;">{{property_type_detail.number_bedroom_without_bathroom}}</span>
                                            </li>
                                            <li>
                                                <b>Salle de bain partagée:</b>
                                                <span style="color: #d4ac0d;">{{property_type_detail.number_shared_bathroom}}</span>
                                            </li>
                                            <li>
                                                <b>Salon:</b>
                                                <span style="color: #d4ac0d;">{{property_type_detail.number_living_room}}</span>
                                            </li>
                                            <li>
                                                <b>Cuisine:</b>
                                                <span style="color: #d4ac0d;">{{property_type_detail.number_kitchen}}</span>
                                            </li>
                                            <li>
                                                <b>Terrasse:</b>
                                                <span style="color: #d4ac0d;">{{property_type_detail.terace}}</span>
                                            </li>
                                            <li>
                                                <b>Garage:</b>
                                                <span style="color: #d4ac0d;">{{property_type_detail.garage}}</span>
                                            </li>
                                        {% endif %}

                                        {% if property_type.name == "Studio" %}
                                            <li>
                                                Étage : <span style="color: #d4ac0d;">{{property_type_detail.floor_level}} er/ème étage</span>
                                            </li>
                                            <li>
                                                Balcon :
                                                <span style="color: #d4ac0d;">
                                                    {{property_type_detail.balcony}}
                                                </span>
                                            </li>
                                            <li>
                                                Espace de stockage :
                                                <span style="color: #d4ac0d;">
                                                    {{property_type_detail.closette}}
                                                </span>
                                            </li>
                                        {% endif %}

                                        {% if property_type.name == "Chambre simple ou avec toilette" %}
                                            <li>
                                                Étage : <span style="color: #d4ac0d;">{{property_type_detail.floor_level}} er/ème étage</span>
                                            </li>
                                            <li>
                                                Balcon :
                                                <span style="color: #d4ac0d;">
                                                    {{property_type_detail.balcony}}
                                                </span>
                                            </li>
                                            <li>
                                                Espace de stockage :
                                                <span style="color: #d4ac0d;">
                                                    {{property_type_detail.closette}}
                                                </span>
                                            </li>
                                        {% endif %}

                                        {% if property_type.name == "Immeuble" %}
                                            <li>
                                                Nombre d'appartements : <span style="color: #d4ac0d;">{{property_type_detail.number_apartment}}</span>
                                            </li>
                                        {% endif %}

                                    {% endif %}
                                {% endfor %}

                                <li>
                                    <b>Informations supplémentaires:</b>
                                    <span style="color: #d4ac0d;">{{property_type_detail.aditionnal_info}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <hr>
                    <!-- Project gallery-->
                    <div class="card-header bg-secondary" align="center">
                        <h4>Images</h4>
                    </div>
                    <section class="pt-4 mt-lg-2 pb-lg-0">
                        <div class="gallery row">
                            {% for img in property_type_detail_images %}
                                {% if img.property_type_detail_id == property_type_detail.id %}
                                    <div class="col-md-4 col-sm-6 mb-grid-gutter">
                                        <a class="gallery-item rounded-3" href="{{img.image.url}}">
                                            <img src="{{img.image.url}}" alt="Gallery thumbnail">
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
{% endblock %}